/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b13196@gameicons-delapouite@remedy {max-width:75px; max-height:75px; }
.@b13196@gameicons-delapouite@remedy::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/r/remedy/0.png/0.png);padding: 0; }
div.@b13196@gameicons-delapouite@remedy::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:8e1d9dc5932830edc37198c6e802db96:8d3fe6958471dc80658d206239953276:4ddb42793a59c1b7bfff1539dfc4d068$ */
