/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1003@awe@sort {max-width:75px; max-height:75px; }
.@a1003@awe@sort::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a1003@awe@sort::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2828@bri@course-tile-sort-2 {max-width:75px; max-height:75px; }
.@a2828@bri@course-tile-sort-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a2828@bri@course-tile-sort-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2829@bri@course-tile-sort-3 {max-width:75px; max-height:75px; }
.@a2829@bri@course-tile-sort-3::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a2829@bri@course-tile-sort-3::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a29210@jqu@sort {max-width:75px; max-height:75px; }
.@a29210@jqu@sort::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a29210@jqu@sort::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a30356@lib@sort {max-width:75px; max-height:75px; }
.@a30356@lib@sort::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a30356@lib@sort::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a30442@lib@unsorted {max-width:75px; max-height:75px; }
.@a30442@lib@unsorted::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a30442@lib@unsorted::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a35267@mat@sort {max-width:75px; max-height:75px; }
.@a35267@mat@sort::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a35267@mat@sort::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a47037@pap@view-sort-ascending-symbolic {max-width:75px; max-height:75px; }
.@a47037@pap@view-sort-ascending-symbolic::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a47037@pap@view-sort-ascending-symbolic::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a47038@pap@view-sort-descending-symbolic {max-width:75px; max-height:75px; }
.@a47038@pap@view-sort-descending-symbolic::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a47038@pap@view-sort-descending-symbolic::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a53497@vaa@sort {max-width:75px; max-height:75px; }
.@a53497@vaa@sort::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a53497@vaa@sort::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a54788@wav@sort {max-width:75px; max-height:75px; }
.@a54788@wav@sort::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a54788@wav@sort::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a55865@web@sortbynameascending {max-width:75px; max-height:75px; }
.@a55865@web@sortbynameascending::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a55865@web@sortbynameascending::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a55866@web@sortbysizeascending {max-width:75px; max-height:75px; }
.@a55866@web@sortbysizeascending::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a55866@web@sortbysizeascending::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a55867@web@sortbysizedescending {max-width:75px; max-height:75px; }
.@a55867@web@sortbysizedescending::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a55867@web@sortbysizedescending::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a57188@win@sort {max-width:75px; max-height:75px; }
.@a57188@win@sort::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/s/sort/0.png/0.png);padding: 0; }
div.@a57188@win@sort::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:e22f51b79f3b94cf6502e34bc40161bd:aba52cd95da2e502d2895c567fc76db3:4ddb42793a59c1b7bfff1539dfc4d068$ */
