/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1949@bon@group-science-1042 {max-width:75px; max-height:75px; }
.@a1949@bon@group-science-1042::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/g/group_science/0.png/0.png);padding: 0; }
div.@a1949@bon@group-science-1042::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:4f6b997ac4d702d6b1f196badc2af3a8:294a7d6fd58fa64aad67c32ceb92ad18:4ddb42793a59c1b7bfff1539dfc4d068$ */
