/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2472@bon@task-hoovering-6080 {max-width:75px; max-height:75px; }
.@a2472@bon@task-hoovering-6080::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/t/task_hoovering/0.png/0.png);padding: 0; }
div.@a2472@bon@task-hoovering-6080::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:e95b1d2942132bb93b18c7677ec528ec:fdcd40c3f48eb9dabbd349359555e334:4ddb42793a59c1b7bfff1539dfc4d068$ */
