/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a13666@df-xmastfbchristmas@2723 {max-width:75px; max-height:75px; }
.@a13666@df-xmastfbchristmas@2723::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/gingerbread/0.png/0.png);padding: 0; }
div.@a13666@df-xmastfbchristmas@2723::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a25418@gli@cookie {max-width:75px; max-height:75px; }
.@a25418@gli@cookie::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/gingerbread/0.png/0.png);padding: 0; }
div.@a25418@gli@cookie::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a5231@df-christmasicons@q {max-width:75px; max-height:75px; }
.@a5231@df-christmasicons@q::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/gingerbread/0.png/0.png);padding: 0; }
div.@a5231@df-christmasicons@q::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a8427@df-journaldingbats4@asciitilde {max-width:75px; max-height:75px; }
.@a8427@df-journaldingbats4@asciitilde::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/gingerbread/0.png/0.png);padding: 0; }
div.@a8427@df-journaldingbats4@asciitilde::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a8432@df-journaldingbats4@bar {max-width:75px; max-height:75px; }
.@a8432@df-journaldingbats4@bar::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/gingerbread/0.png/0.png);padding: 0; }
div.@a8432@df-journaldingbats4@bar::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a8434@df-journaldingbats4@braceright {max-width:75px; max-height:75px; }
.@a8434@df-journaldingbats4@braceright::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/gingerbread/0.png/0.png);padding: 0; }
div.@a8434@df-journaldingbats4@braceright::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12686@gameicons-delapouite@gingerbread-man {max-width:75px; max-height:75px; }
.@b12686@gameicons-delapouite@gingerbread-man::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/gingerbread/0.png/0.png);padding: 0; }
div.@b12686@gameicons-delapouite@gingerbread-man::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:0a3a6df78c7add7449580afd71dda49d:4fb318b74c6efce73ebf180735fad574:4ddb42793a59c1b7bfff1539dfc4d068$ */
