/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2192@bon@playing-beetle-drive-6034 {max-width:75px; max-height:75px; }
.@a2192@bon@playing-beetle-drive-6034::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/p/playing_beetle_drive/0.png/0.png);padding: 0; }
div.@a2192@bon@playing-beetle-drive-6034::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:3eb9ca4000820e02f787cf5784c84653:d6438f8ee27ed853a0e76ce51301b7d6:4ddb42793a59c1b7bfff1539dfc4d068$ */
