/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a59300@ian@alosa-aestivalis {max-width:75px; max-height:75px; }
.@a59300@ian@alosa-aestivalis::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/clupeidae/0.png/0.png);padding: 0; }
div.@a59300@ian@alosa-aestivalis::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59301@ian@alosa-mediocris {max-width:75px; max-height:75px; }
.@a59301@ian@alosa-mediocris::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/clupeidae/0.png/0.png);padding: 0; }
div.@a59301@ian@alosa-mediocris::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59302@ian@alosa-pseudoharengus {max-width:75px; max-height:75px; }
.@a59302@ian@alosa-pseudoharengus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/clupeidae/0.png/0.png);padding: 0; }
div.@a59302@ian@alosa-pseudoharengus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59303@ian@alosa-sapidissima {max-width:75px; max-height:75px; }
.@a59303@ian@alosa-sapidissima::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/clupeidae/0.png/0.png);padding: 0; }
div.@a59303@ian@alosa-sapidissima::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59536@ian@brevoortia-tyrannus-juvenile {max-width:75px; max-height:75px; }
.@a59536@ian@brevoortia-tyrannus-juvenile::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/clupeidae/0.png/0.png);padding: 0; }
div.@a59536@ian@brevoortia-tyrannus-juvenile::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59537@ian@brevoortia-tyrannus {max-width:75px; max-height:75px; }
.@a59537@ian@brevoortia-tyrannus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/clupeidae/0.png/0.png);padding: 0; }
div.@a59537@ian@brevoortia-tyrannus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60533@ian@hyperlophus-vittatus {max-width:75px; max-height:75px; }
.@a60533@ian@hyperlophus-vittatus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/clupeidae/0.png/0.png);padding: 0; }
div.@a60533@ian@hyperlophus-vittatus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60994@ian@nematalosa-vlaminghi {max-width:75px; max-height:75px; }
.@a60994@ian@nematalosa-vlaminghi::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/clupeidae/0.png/0.png);padding: 0; }
div.@a60994@ian@nematalosa-vlaminghi::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:32fa7c82a44dbfec91fa7496bae6749e:d18778d7e41db665804dfa9d017a8504:4ddb42793a59c1b7bfff1539dfc4d068$ */
