/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14932@em2@file-folder {max-width:75px; max-height:75px; }
.@a14932@em2@file-folder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 1.2658227848101267%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a14932@em2@file-folder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15994@emo@file-folder {max-width:75px; max-height:75px; }
.@a15994@emo@file-folder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 50%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a15994@emo@file-folder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17588@fir@u1f4c1-filefolder {max-width:75px; max-height:75px; }
.@a17588@fir@u1f4c1-filefolder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 1.2658227848101267%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a17588@fir@u1f4c1-filefolder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17813@fir@blackfolder {max-width:75px; max-height:75px; }
.@a17813@fir@blackfolder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 98.73417721518987%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a17813@fir@blackfolder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17814@fir@folder {max-width:75px; max-height:75px; }
.@a17814@fir@folder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 50%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a17814@fir@folder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28394@jqe@file-folder {max-width:75px; max-height:75px; }
.@a28394@jqe@file-folder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a28394@jqe@file-folder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a29626@knl@folder-2 {max-width:75px; max-height:75px; }
.@a29626@knl@folder-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 98.73417721518987%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a29626@knl@folder-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36962@mul@computer-folder-open-to {max-width:75px; max-height:75px; }
.@a36962@mul@computer-folder-open-to::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a36962@mul@computer-folder-open-to::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36963@mul@computer-folder-open {max-width:75px; max-height:75px; }
.@a36963@mul@computer-folder-open::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 1.2658227848101267%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a36963@mul@computer-folder-open::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39633@noc@file-folder {max-width:75px; max-height:75px; }
.@a39633@noc@file-folder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a39633@noc@file-folder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a41715@nog@file-folder-objects {max-width:75px; max-height:75px; }
.@a41715@nog@file-folder-objects::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 50%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a41715@nog@file-folder-objects::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44339@not@file-folder {max-width:75px; max-height:75px; }
.@a44339@not@file-folder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.35897435897436% 1.2658227848101267%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a44339@not@file-folder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50434@tw2@file-folder {max-width:75px; max-height:75px; }
.@a50434@tw2@file-folder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 98.73417721518987%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a50434@tw2@file-folder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51263@twe@file-folder {max-width:75px; max-height:75px; }
.@a51263@twe@file-folder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.35897435897436% 50%;background-size: 516% 310.6666666666667%;background-image: url(./textures/f/file_folder/0.png/0.png);padding: 0; }
div.@a51263@twe@file-folder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:4e7b780a0ca9e495d38defed84980382:9fe7dbe6bcf093c0d52ef08f7c937018:4ddb42793a59c1b7bfff1539dfc4d068$ */
