/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b14526@gameicons-lorc@morbid-humour {max-width:75px; max-height:75px; }
.@b14526@gameicons-lorc@morbid-humour::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/h/humour/0.png/0.png);padding: 0; }
div.@b14526@gameicons-lorc@morbid-humour::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:7a5c61c636b69122dc98c340162b331a:7ec286aa9900e1d719d65c3da892011b:4ddb42793a59c1b7bfff1539dfc4d068$ */
