/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a38377@mul@pe-class {max-width:75px; max-height:75px; }
.@a38377@mul@pe-class::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/p/pe_class/0.png/0.png);padding: 0; }
div.@a38377@mul@pe-class::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:135ae3b19254fb1bd4297df70c20b310:6f62958c6cd7ce47128b0bd0797fc1a4:4ddb42793a59c1b7bfff1539dfc4d068$ */
