/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@d3735@wikim-all@seal_of_the_u.s._national_security_agency {max-width:75px; max-height:75px; }
.@d3735@wikim-all@seal_of_the_u.s._national_security_agency::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/n/nsa/0.png/0.png);padding: 0; }
div.@d3735@wikim-all@seal_of_the_u.s._national_security_agency::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:4412093240326598a632d2b021e11b6a:1a6201e835d404b18efc04960a52a966:4ddb42793a59c1b7bfff1539dfc4d068$ */
