/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@d1039@mutcd@panama_1205 {max-width:75px; max-height:75px; }
.@d1039@mutcd@panama_1205::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.25839793281653745% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d1039@mutcd@panama_1205::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1116@mutcd@peru_1206 {max-width:75px; max-height:75px; }
.@d1116@mutcd@peru_1206::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 10.20671834625323% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d1116@mutcd@peru_1206::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d12@mutcd@argentina_1196 {max-width:75px; max-height:75px; }
.@d12@mutcd@argentina_1196::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 20.155038759689923% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d12@mutcd@argentina_1196::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1403@mutcd@united_states_1207 {max-width:75px; max-height:75px; }
.@d1403@mutcd@united_states_1207::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 30.103359173126616% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d1403@mutcd@united_states_1207::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1447@mutcd@uruguay_1208 {max-width:75px; max-height:75px; }
.@d1447@mutcd@uruguay_1208::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 40.05167958656331% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d1447@mutcd@uruguay_1208::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d179@mutcd@brazil_1198 {max-width:75px; max-height:75px; }
.@d179@mutcd@brazil_1198::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d179@mutcd@brazil_1198::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d265@mutcd@canada_1199 {max-width:75px; max-height:75px; }
.@d265@mutcd@canada_1199::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 59.94832041343669% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d265@mutcd@canada_1199::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d350@mutcd@canada_ontario_1200 {max-width:75px; max-height:75px; }
.@d350@mutcd@canada_ontario_1200::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 69.89664082687338% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d350@mutcd@canada_ontario_1200::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d429@mutcd@canada_quebec_1201 {max-width:75px; max-height:75px; }
.@d429@mutcd@canada_quebec_1201::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 59.94832041343669% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d429@mutcd@canada_quebec_1201::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d518@mutcd@chile_1202 {max-width:75px; max-height:75px; }
.@d518@mutcd@chile_1202::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 79.84496124031008% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d518@mutcd@chile_1202::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d693@mutcd@ireland_1204 {max-width:75px; max-height:75px; }
.@d693@mutcd@ireland_1204::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 89.79328165374677% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d693@mutcd@ireland_1204::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d97@mutcd@australia_1197 {max-width:75px; max-height:75px; }
.@d97@mutcd@australia_1197::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.74160206718346% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/m/maximum_weight_axle/0.png/0.png);padding: 0; }
div.@d97@mutcd@australia_1197::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:f61122da1a69ff53b78b01c35fc91fad:83ffb9f084aa94fa616fb46b3e0a5349:4ddb42793a59c1b7bfff1539dfc4d068$ */
