/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a13808@digerati@animal0159 {max-width:75px; max-height:75px; }
.@a13808@digerati@animal0159::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 1.2658227848101267%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a13808@digerati@animal0159::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a14685@em2@blowfish {max-width:75px; max-height:75px; }
.@a14685@em2@blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a14685@em2@blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15727@emo@blowfish {max-width:75px; max-height:75px; }
.@a15727@emo@blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 98.73417721518987%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a15727@emo@blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17428@fir@u1f421-blowfish {max-width:75px; max-height:75px; }
.@a17428@fir@u1f421-blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 1.2658227848101267%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a17428@fir@u1f421-blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28213@jqe@blowfish {max-width:75px; max-height:75px; }
.@a28213@jqe@blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a28213@jqe@blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39369@noc@blowfish {max-width:75px; max-height:75px; }
.@a39369@noc@blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 98.73417721518987%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a39369@noc@blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40771@nog@blowfish-animals-nature {max-width:75px; max-height:75px; }
.@a40771@nog@blowfish-animals-nature::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 1.2658227848101267%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a40771@nog@blowfish-animals-nature::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44139@not@blowfish {max-width:75px; max-height:75px; }
.@a44139@not@blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a44139@not@blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a45008@oa1@blow-fish {max-width:75px; max-height:75px; }
.@a45008@oa1@blow-fish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 98.73417721518987%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a45008@oa1@blow-fish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49553@str@496-blowfish {max-width:75px; max-height:75px; }
.@a49553@str@496-blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 1.2658227848101267%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a49553@str@496-blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50236@tw2@blowfish {max-width:75px; max-height:75px; }
.@a50236@tw2@blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a50236@tw2@blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51108@twe@blowfish {max-width:75px; max-height:75px; }
.@a51108@twe@blowfish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 98.73417721518987%;background-size: 413.3333333333333% 310.6666666666667%;background-image: url(./textures/b/blowfish/0.png/0.png);padding: 0; }
div.@a51108@twe@blowfish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:59266df237f6aceb15f0d019db9d3272:90078f0d0b366c401ab8b297232daf3a:4ddb42793a59c1b7bfff1539dfc4d068$ */
