/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a26602@her@wyvern-displayed-erect {max-width:75px; max-height:75px; }
.@a26602@her@wyvern-displayed-erect::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wyvern/0.png/0.png);padding: 0; }
div.@a26602@her@wyvern-displayed-erect::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26603@her@wyvern-erect-2 {max-width:75px; max-height:75px; }
.@a26603@her@wyvern-erect-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wyvern/0.png/0.png);padding: 0; }
div.@a26603@her@wyvern-erect-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26604@her@wyvern-erect {max-width:75px; max-height:75px; }
.@a26604@her@wyvern-erect::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wyvern/0.png/0.png);padding: 0; }
div.@a26604@her@wyvern-erect::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26605@her@wyvern {max-width:75px; max-height:75px; }
.@a26605@her@wyvern::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wyvern/0.png/0.png);padding: 0; }
div.@a26605@her@wyvern::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b15106@gameicons-lorc@wyvern {max-width:75px; max-height:75px; }
.@b15106@gameicons-lorc@wyvern::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.35897435897436% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wyvern/0.png/0.png);padding: 0; }
div.@b15106@gameicons-lorc@wyvern::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:18656f945aace4d85b91fcd09fa35628:ed36936bc401979240c996a242c68805:4ddb42793a59c1b7bfff1539dfc4d068$ */
