/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1940@bon@group-healthy-eating-group-1034 {max-width:75px; max-height:75px; }
.@a1940@bon@group-healthy-eating-group-1034::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/e/eating/0.png/0.png);padding: 0; }
div.@a1940@bon@group-healthy-eating-group-1034::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2312@bon@self-care-eating-well-8073 {max-width:75px; max-height:75px; }
.@a2312@bon@self-care-eating-well-8073::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/e/eating/0.png/0.png);padding: 0; }
div.@a2312@bon@self-care-eating-well-8073::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60313@ian@food-01 {max-width:75px; max-height:75px; }
.@a60313@ian@food-01::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/e/eating/0.png/0.png);padding: 0; }
div.@a60313@ian@food-01::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12540@gameicons-delapouite@eating-pelican {max-width:75px; max-height:75px; }
.@b12540@gameicons-delapouite@eating-pelican::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/e/eating/0.png/0.png);padding: 0; }
div.@b12540@gameicons-delapouite@eating-pelican::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12541@gameicons-delapouite@eating {max-width:75px; max-height:75px; }
.@b12541@gameicons-delapouite@eating::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/e/eating/0.png/0.png);padding: 0; }
div.@b12541@gameicons-delapouite@eating::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:4b836442f1b7f0a11952d9e8e8f2d10f:fd7a47a59fd8e0a5cc33eb943212fc9f:4ddb42793a59c1b7bfff1539dfc4d068$ */
