/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60294@ian@floating-grow-out-units {max-width:75px; max-height:75px; }
.@a60294@ian@floating-grow-out-units::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/g/grow-out/0.png/0.png);padding: 0; }
div.@a60294@ian@floating-grow-out-units::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:157c7e760dd8e30cfe9e73cbef788b8b:575a35fee88f6a3c492decc04217ad3d:4ddb42793a59c1b7bfff1539dfc4d068$ */
