/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16203@emo@ro {max-width:75px; max-height:75px; }
.@a16203@emo@ro::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/r/romania/0.png/0.png);padding: 0; }
div.@a16203@emo@ro::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37091@mul@oman {max-width:75px; max-height:75px; }
.@a37091@mul@oman::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/r/romania/0.png/0.png);padding: 0; }
div.@a37091@mul@oman::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37577@mul@oman {max-width:75px; max-height:75px; }
.@a37577@mul@oman::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/r/romania/0.png/0.png);padding: 0; }
div.@a37577@mul@oman::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4335@wikim-nojs@coat_of_arms_of_the_popular_republic_of_romania_uuu281948-1952uuu29 {max-width:75px; max-height:75px; }
.@d4335@wikim-nojs@coat_of_arms_of_the_popular_republic_of_romania_uuu281948-1952uuu29::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/r/romania/0.png/0.png);padding: 0; }
div.@d4335@wikim-nojs@coat_of_arms_of_the_popular_republic_of_romania_uuu281948-1952uuu29::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4336@wikim-nojs@coat_of_arms_of_the_popular_republic_of_romania_uuu28january-march_1948uuu29 {max-width:75px; max-height:75px; }
.@d4336@wikim-nojs@coat_of_arms_of_the_popular_republic_of_romania_uuu28january-march_1948uuu29::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/r/romania/0.png/0.png);padding: 0; }
div.@d4336@wikim-nojs@coat_of_arms_of_the_popular_republic_of_romania_uuu28january-march_1948uuu29::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4353@wikim-nojs@flag_of_romania_uuu281965-1989uuu29 {max-width:75px; max-height:75px; }
.@d4353@wikim-nojs@flag_of_romania_uuu281965-1989uuu29::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/r/romania/0.png/0.png);padding: 0; }
div.@d4353@wikim-nojs@flag_of_romania_uuu281965-1989uuu29::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:30204055882549c59cb1633307d51253:0cae0d1cbde4073cd4fe80953ff16166:4ddb42793a59c1b7bfff1539dfc4d068$ */
