/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14697@em2@boxing-glove {max-width:75px; max-height:75px; }
.@a14697@em2@boxing-glove::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@a14697@em2@boxing-glove::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15745@emo@boxing-glove {max-width:75px; max-height:75px; }
.@a15745@emo@boxing-glove::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@a15745@emo@boxing-glove::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a27911@ico@boxing {max-width:75px; max-height:75px; }
.@a27911@ico@boxing::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@a27911@ico@boxing::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39381@noc@boxing-glove {max-width:75px; max-height:75px; }
.@a39381@noc@boxing-glove::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@a39381@noc@boxing-glove::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40799@nog@boxing-glove-activities {max-width:75px; max-height:75px; }
.@a40799@nog@boxing-glove-activities::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@a40799@nog@boxing-glove-activities::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50247@tw2@boxing-glove {max-width:75px; max-height:75px; }
.@a50247@tw2@boxing-glove::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@a50247@tw2@boxing-glove::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a62248@ian@work-glove {max-width:75px; max-height:75px; }
.@a62248@ian@work-glove::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@a62248@ian@work-glove::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13840@gameicons-lorc@boxing-glove {max-width:75px; max-height:75px; }
.@b13840@gameicons-lorc@boxing-glove::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@b13840@gameicons-lorc@boxing-glove::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b8191@web@boxing {max-width:75px; max-height:75px; }
.@b8191@web@boxing::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/g/glove/0.png/0.png);padding: 0; }
div.@b8191@web@boxing::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:68b49f141ea52cb9b01f2e0c9b50a9e3:0ce98b54f5b268ea87de9e0f5308da40:4ddb42793a59c1b7bfff1539dfc4d068$ */
