/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@d1185@mutcd@philippines_1004 {max-width:75px; max-height:75px; }
.@d1185@mutcd@philippines_1004::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d1185@mutcd@philippines_1004::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1261@mutcd@thailand_1005 {max-width:75px; max-height:75px; }
.@d1261@mutcd@thailand_1005::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d1261@mutcd@thailand_1005::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1392@mutcd@united_states_1006 {max-width:75px; max-height:75px; }
.@d1392@mutcd@united_states_1006::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d1392@mutcd@united_states_1006::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1436@mutcd@uruguay_1007 {max-width:75px; max-height:75px; }
.@d1436@mutcd@uruguay_1007::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d1436@mutcd@uruguay_1007::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d168@mutcd@australia_996 {max-width:75px; max-height:75px; }
.@d168@mutcd@australia_996::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d168@mutcd@australia_996::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d340@mutcd@canada_997 {max-width:75px; max-height:75px; }
.@d340@mutcd@canada_997::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d340@mutcd@canada_997::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d417@mutcd@canada_ontario_998 {max-width:75px; max-height:75px; }
.@d417@mutcd@canada_ontario_998::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d417@mutcd@canada_ontario_998::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d589@mutcd@colombia_1000 {max-width:75px; max-height:75px; }
.@d589@mutcd@colombia_1000::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d589@mutcd@colombia_1000::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d765@mutcd@japan_1002 {max-width:75px; max-height:75px; }
.@d765@mutcd@japan_1002::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d765@mutcd@japan_1002::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d951@mutcd@new_zealand_1003 {max-width:75px; max-height:75px; }
.@d951@mutcd@new_zealand_1003::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/road_closed/0.png/0.png);padding: 0; }
div.@d951@mutcd@new_zealand_1003::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:bac36c75251b7850dc6669fa8e163af5:347716b81a40e7f5548b36464dd6e8ba:4ddb42793a59c1b7bfff1539dfc4d068$ */
