/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60530@ian@hyla-cinerea-adult {max-width:75px; max-height:75px; }
.@a60530@ian@hyla-cinerea-adult::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/h/hylidae/0.png/0.png);padding: 0; }
div.@a60530@ian@hyla-cinerea-adult::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60735@ian@litoria-caerulea-adult {max-width:75px; max-height:75px; }
.@a60735@ian@litoria-caerulea-adult::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/h/hylidae/0.png/0.png);padding: 0; }
div.@a60735@ian@litoria-caerulea-adult::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:feffce5218daf7f1bbf18f014f46fcba:8ac5d42c457855858680fec7da0bcc10:4ddb42793a59c1b7bfff1539dfc4d068$ */
