/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61851@ian@tridens-flavus-cupreus {max-width:75px; max-height:75px; }
.@a61851@ian@tridens-flavus-cupreus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/cupreus/0.png/0.png);padding: 0; }
div.@a61851@ian@tridens-flavus-cupreus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:1c02fedc4c43390004fb9ce9caaf15a4:63e7044c5fe8af708677fab436cfe82b:4ddb42793a59c1b7bfff1539dfc4d068$ */
