/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a36447@mul@angel {max-width:75px; max-height:75px; }
.@a36447@mul@angel::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/a/angel/0.png/0.png);padding: 0; }
div.@a36447@mul@angel::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a45236@ope@angel {max-width:75px; max-height:75px; }
.@a45236@ope@angel::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/a/angel/0.png/0.png);padding: 0; }
div.@a45236@ope@angel::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13712@gameicons-lorc@angel-outfit {max-width:75px; max-height:75px; }
.@b13712@gameicons-lorc@angel-outfit::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/a/angel/0.png/0.png);padding: 0; }
div.@b13712@gameicons-lorc@angel-outfit::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13713@gameicons-lorc@angel-wings {max-width:75px; max-height:75px; }
.@b13713@gameicons-lorc@angel-wings::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/a/angel/0.png/0.png);padding: 0; }
div.@b13713@gameicons-lorc@angel-wings::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d2853@wikim-all@huuuc3uuua9raldique_ange {max-width:75px; max-height:75px; }
.@d2853@wikim-all@huuuc3uuua9raldique_ange::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/a/angel/0.png/0.png);padding: 0; }
div.@d2853@wikim-all@huuuc3uuua9raldique_ange::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d3192@wikim-all@male_angel_heraldry {max-width:75px; max-height:75px; }
.@d3192@wikim-all@male_angel_heraldry::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/a/angel/0.png/0.png);padding: 0; }
div.@d3192@wikim-all@male_angel_heraldry::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d3231@wikim-all@meuble_huuuc3uuua9raldique_ange {max-width:75px; max-height:75px; }
.@d3231@wikim-all@meuble_huuuc3uuua9raldique_ange::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/a/angel/0.png/0.png);padding: 0; }
div.@d3231@wikim-all@meuble_huuuc3uuua9raldique_ange::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:82c482ea2d00808e4edf76358d27acdc:4a95c6787c8423c9d9c74e978ae6a3bf:4ddb42793a59c1b7bfff1539dfc4d068$ */
