/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16013@emo@ai {max-width:75px; max-height:75px; }
.@a16013@emo@ai::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a16013@emo@ai::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37003@mul@anguilla {max-width:75px; max-height:75px; }
.@a37003@mul@anguilla::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a37003@mul@anguilla::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37464@mul@anguilla {max-width:75px; max-height:75px; }
.@a37464@mul@anguilla::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a37464@mul@anguilla::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59330@ian@anguilla-rostrata-elver {max-width:75px; max-height:75px; }
.@a59330@ian@anguilla-rostrata-elver::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a59330@ian@anguilla-rostrata-elver::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59331@ian@anguilla-rostrata-glass-eel {max-width:75px; max-height:75px; }
.@a59331@ian@anguilla-rostrata-glass-eel::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a59331@ian@anguilla-rostrata-glass-eel::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59332@ian@anguilla-rostrata-leptocephalus {max-width:75px; max-height:75px; }
.@a59332@ian@anguilla-rostrata-leptocephalus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a59332@ian@anguilla-rostrata-leptocephalus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59333@ian@anguilla-rostrata-silver {max-width:75px; max-height:75px; }
.@a59333@ian@anguilla-rostrata-silver::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a59333@ian@anguilla-rostrata-silver::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59334@ian@anguilla-rostrata-yellow {max-width:75px; max-height:75px; }
.@a59334@ian@anguilla-rostrata-yellow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a59334@ian@anguilla-rostrata-yellow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59335@ian@anguilla-rostrata {max-width:75px; max-height:75px; }
.@a59335@ian@anguilla-rostrata::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@a59335@ian@anguilla-rostrata::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1937@wikim-all@coat_of_arms_of_anguilla {max-width:75px; max-height:75px; }
.@d1937@wikim-all@coat_of_arms_of_anguilla::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/anguilla/0.png/0.png);padding: 0; }
div.@d1937@wikim-all@coat_of_arms_of_anguilla::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:edab96cafe3d801296e4bc0cd1a48ed0:554855760704410b0c9d0c85ac363787:4ddb42793a59c1b7bfff1539dfc4d068$ */
