/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b14132@gameicons-lorc@evil-fork {max-width:75px; max-height:75px; }
.@b14132@gameicons-lorc@evil-fork::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/e/evil_fork/0.png/0.png);padding: 0; }
div.@b14132@gameicons-lorc@evil-fork::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:f195a1dd911b869af8c02b50a434c97b:629346f5f5b79ea977bb05c009f9eebf:4ddb42793a59c1b7bfff1539dfc4d068$ */
