/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2324@bon@self-care-washing-your-clothes-8078 {max-width:75px; max-height:75px; }
.@a2324@bon@self-care-washing-your-clothes-8078::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/washing/0.png/0.png);padding: 0; }
div.@a2324@bon@self-care-washing-your-clothes-8078::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2650@bon@washing-machine-2573 {max-width:75px; max-height:75px; }
.@a2650@bon@washing-machine-2573::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/washing/0.png/0.png);padding: 0; }
div.@a2650@bon@washing-machine-2573::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38615@mul@rotary-washing-line {max-width:75px; max-height:75px; }
.@a38615@mul@rotary-washing-line::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/washing/0.png/0.png);padding: 0; }
div.@a38615@mul@rotary-washing-line::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39167@mul@washing-machine {max-width:75px; max-height:75px; }
.@a39167@mul@washing-machine::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/washing/0.png/0.png);padding: 0; }
div.@a39167@mul@washing-machine::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39168@mul@washing-powder {max-width:75px; max-height:75px; }
.@a39168@mul@washing-powder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/washing/0.png/0.png);padding: 0; }
div.@a39168@mul@washing-powder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39170@mul@washing-up-liquid {max-width:75px; max-height:75px; }
.@a39170@mul@washing-up-liquid::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.35897435897436% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/washing/0.png/0.png);padding: 0; }
div.@a39170@mul@washing-up-liquid::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:ca9d4c85c4f5f31309458c9e89286b17:002c9d910afa19d8cabe0357bcb8f731:4ddb42793a59c1b7bfff1539dfc4d068$ */
