/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b13972@gameicons-lorc@cracked-saber {max-width:75px; max-height:75px; }
.@b13972@gameicons-lorc@cracked-saber::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/s/saber/0.png/0.png);padding: 0; }
div.@b13972@gameicons-lorc@cracked-saber::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14431@gameicons-lorc@lightning-saber {max-width:75px; max-height:75px; }
.@b14431@gameicons-lorc@lightning-saber::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/s/saber/0.png/0.png);padding: 0; }
div.@b14431@gameicons-lorc@lightning-saber::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14688@gameicons-lorc@saber-slash {max-width:75px; max-height:75px; }
.@b14688@gameicons-lorc@saber-slash::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/s/saber/0.png/0.png);padding: 0; }
div.@b14688@gameicons-lorc@saber-slash::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14689@gameicons-lorc@saber-tooth {max-width:75px; max-height:75px; }
.@b14689@gameicons-lorc@saber-tooth::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/s/saber/0.png/0.png);padding: 0; }
div.@b14689@gameicons-lorc@saber-tooth::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:7f0b52800e9ccceb839f2fa61a4c631a:92c8f5b2a8645fd63e8abaaab9aa63b8:4ddb42793a59c1b7bfff1539dfc4d068$ */
