/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14725@em2@card-index {max-width:75px; max-height:75px; }
.@a14725@em2@card-index::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a14725@em2@card-index::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15779@emo@card-index {max-width:75px; max-height:75px; }
.@a15779@emo@card-index::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a15779@emo@card-index::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17594@fir@u1f4c7-cardindex {max-width:75px; max-height:75px; }
.@a17594@fir@u1f4c7-cardindex::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a17594@fir@u1f4c7-cardindex::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28244@jqe@card-index {max-width:75px; max-height:75px; }
.@a28244@jqe@card-index::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a28244@jqe@card-index::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39408@noc@card-index {max-width:75px; max-height:75px; }
.@a39408@noc@card-index::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a39408@noc@card-index::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40911@nog@card-index-objects {max-width:75px; max-height:75px; }
.@a40911@nog@card-index-objects::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a40911@nog@card-index-objects::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44166@not@card-index {max-width:75px; max-height:75px; }
.@a44166@not@card-index::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a44166@not@card-index::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50279@tw2@card-index {max-width:75px; max-height:75px; }
.@a50279@tw2@card-index::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a50279@tw2@card-index::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51134@twe@card-index {max-width:75px; max-height:75px; }
.@a51134@twe@card-index::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/r/rolodex/0.png/0.png);padding: 0; }
div.@a51134@twe@card-index::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:79efece20c0d5d9b1038984ed520151b:67eacc8a1ba05f0d1660d526dc6e5e17:4ddb42793a59c1b7bfff1539dfc4d068$ */
