/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60983@ian@naso-lituratus {max-width:75px; max-height:75px; }
.@a60983@ian@naso-lituratus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/u/unicornfish/0.png/0.png);padding: 0; }
div.@a60983@ian@naso-lituratus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60984@ian@naso-unicornis {max-width:75px; max-height:75px; }
.@a60984@ian@naso-unicornis::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/u/unicornfish/0.png/0.png);padding: 0; }
div.@a60984@ian@naso-unicornis::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:8a9446798d685328eeba0095f76ff998:92fe9ef8a4cc0287a0e68f3234bc5623:4ddb42793a59c1b7bfff1539dfc4d068$ */
