/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14381@ele@close {max-width:75px; max-height:75px; }
.@a14381@ele@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a14381@ele@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26272@her@dove-close {max-width:75px; max-height:75px; }
.@a26272@her@dove-close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a26272@her@dove-close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26493@her@raven-close {max-width:75px; max-height:75px; }
.@a26493@her@raven-close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a26493@her@raven-close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a275@ara@close {max-width:75px; max-height:75px; }
.@a275@ara@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a275@ara@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a275@ara@close2 {max-width:75px; max-height:75px; }
.@a275@ara@close2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a275@ara@close2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a30133@lib@close {max-width:75px; max-height:75px; }
.@a30133@lib@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a30133@lib@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a31327@lug@close {max-width:75px; max-height:75px; }
.@a31327@lug@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a31327@lug@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a32999@mat@close {max-width:75px; max-height:75px; }
.@a32999@mat@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a32999@mat@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a35883@mat@window-close {max-width:75px; max-height:75px; }
.@a35883@mat@window-close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a35883@mat@window-close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36914@mul@close-to {max-width:75px; max-height:75px; }
.@a36914@mul@close-to::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a36914@mul@close-to::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a47054@pap@window-close-symbolic {max-width:75px; max-height:75px; }
.@a47054@pap@window-close-symbolic::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a47054@pap@window-close-symbolic::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a48415@sli@close {max-width:75px; max-height:75px; }
.@a48415@sli@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a48415@sli@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49903@the@close {max-width:75px; max-height:75px; }
.@a49903@the@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a49903@the@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a53117@vaa@close {max-width:75px; max-height:75px; }
.@a53117@vaa@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a53117@vaa@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a54067@wav@close {max-width:75px; max-height:75px; }
.@a54067@wav@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a54067@wav@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a56434@win@close {max-width:75px; max-height:75px; }
.@a56434@win@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a56434@win@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a57578@xei@close {max-width:75px; max-height:75px; }
.@a57578@xei@close::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/c/close/0.png/0.png);padding: 0; }
div.@a57578@xei@close::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:98ff349c85191424d27f1f72f97956b8:7f8654b22a9dee9e43dc6f120bcfe0ea:4ddb42793a59c1b7bfff1539dfc4d068$ */
