/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61660@ian@spartina-alterniflora-singular {max-width:75px; max-height:75px; }
.@a61660@ian@spartina-alterniflora-singular::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/a/alterniflora/0.png/0.png);padding: 0; }
div.@a61660@ian@spartina-alterniflora-singular::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61661@ian@spartina-alterniflora {max-width:75px; max-height:75px; }
.@a61661@ian@spartina-alterniflora::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/a/alterniflora/0.png/0.png);padding: 0; }
div.@a61661@ian@spartina-alterniflora::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:3f6987f2be1e4a1845f1df3c5c2edaa1:3adefc11933a365cbdf37deb12096bad:4ddb42793a59c1b7bfff1539dfc4d068$ */
