/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14817@em2@custard {max-width:75px; max-height:75px; }
.@a14817@em2@custard::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a14817@em2@custard::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15899@emo@custard {max-width:75px; max-height:75px; }
.@a15899@emo@custard::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a15899@emo@custard::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17269@fir@u1f36e-custard {max-width:75px; max-height:75px; }
.@a17269@fir@u1f36e-custard::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a17269@fir@u1f36e-custard::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28313@jqe@custard {max-width:75px; max-height:75px; }
.@a28313@jqe@custard::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a28313@jqe@custard::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38506@mul@pour-custard-to {max-width:75px; max-height:75px; }
.@a38506@mul@pour-custard-to::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a38506@mul@pour-custard-to::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39516@noc@custard {max-width:75px; max-height:75px; }
.@a39516@noc@custard::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a39516@noc@custard::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a41288@nog@custard-food-drink {max-width:75px; max-height:75px; }
.@a41288@nog@custard-food-drink::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a41288@nog@custard-food-drink::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44259@not@custard {max-width:75px; max-height:75px; }
.@a44259@not@custard::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a44259@not@custard::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49620@str@563-custard {max-width:75px; max-height:75px; }
.@a49620@str@563-custard::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a49620@str@563-custard::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51194@twe@custard {max-width:75px; max-height:75px; }
.@a51194@twe@custard::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/custard/0.png/0.png);padding: 0; }
div.@a51194@twe@custard::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:d1bc926db9472f14d9cd8ef1e28436a4:5406520a16777fb55584f3f743af381c:4ddb42793a59c1b7bfff1539dfc4d068$ */
