/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a38472@mul@plum {max-width:75px; max-height:75px; }
.@a38472@mul@plum::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/p/plum/0.png/0.png);padding: 0; }
div.@a38472@mul@plum::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39020@mul@tinned-plums {max-width:75px; max-height:75px; }
.@a39020@mul@tinned-plums::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/p/plum/0.png/0.png);padding: 0; }
div.@a39020@mul@tinned-plums::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a62018@ian@usa-ma-plum-island-sound {max-width:75px; max-height:75px; }
.@a62018@ian@usa-ma-plum-island-sound::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/p/plum/0.png/0.png);padding: 0; }
div.@a62018@ian@usa-ma-plum-island-sound::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:1fea8ff5c7ac368bfdf6790922313e41:424952f74aff1f9ff39356d40e522a5b:4ddb42793a59c1b7bfff1539dfc4d068$ */
