/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1810@bon@feelings-sad-6015- {max-width:75px; max-height:75px; }
.@a1810@bon@feelings-sad-6015-::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@a1810@bon@feelings-sad-6015-::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a1821@bon@felt-sad-5266 {max-width:75px; max-height:75px; }
.@a1821@bon@felt-sad-5266::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@a1821@bon@felt-sad-5266::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a1822@bon@felt-sad-about-people-leaving-5267 {max-width:75px; max-height:75px; }
.@a1822@bon@felt-sad-about-people-leaving-5267::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@a1822@bon@felt-sad-about-people-leaving-5267::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38623@mul@sad-lady {max-width:75px; max-height:75px; }
.@a38623@mul@sad-lady::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@a38623@mul@sad-lady::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a48749@solver@1-sad-kid {max-width:75px; max-height:75px; }
.@a48749@solver@1-sad-kid::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@a48749@solver@1-sad-kid::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49286@str@088-anxious-face {max-width:75px; max-height:75px; }
.@a49286@str@088-anxious-face::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@a49286@str@088-anxious-face::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4245@wikim-ladyofhats@big_eyes {max-width:75px; max-height:75px; }
.@d4245@wikim-ladyofhats@big_eyes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@d4245@wikim-ladyofhats@big_eyes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4285@wikim-ladyofhats@sad {max-width:75px; max-height:75px; }
.@d4285@wikim-ladyofhats@sad::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@d4285@wikim-ladyofhats@sad::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4299@wikim-ladyofhats@whatface {max-width:75px; max-height:75px; }
.@d4299@wikim-ladyofhats@whatface::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/sad/0.png/0.png);padding: 0; }
div.@d4299@wikim-ladyofhats@whatface::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:cda941b4de9c856b466934cadebb6c55:4d35da22cd06a0152cbe55e69b29f711:4ddb42793a59c1b7bfff1539dfc4d068$ */
