/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b13183@gameicons-delapouite@radar-cross-section {max-width:75px; max-height:75px; }
.@b13183@gameicons-delapouite@radar-cross-section::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/r/radar/0.png/0.png);padding: 0; }
div.@b13183@gameicons-delapouite@radar-cross-section::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14641@gameicons-lorc@radar-dish {max-width:75px; max-height:75px; }
.@b14641@gameicons-lorc@radar-dish::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/r/radar/0.png/0.png);padding: 0; }
div.@b14641@gameicons-lorc@radar-dish::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14642@gameicons-lorc@radar-sweep {max-width:75px; max-height:75px; }
.@b14642@gameicons-lorc@radar-sweep::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/r/radar/0.png/0.png);padding: 0; }
div.@b14642@gameicons-lorc@radar-sweep::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:204255011586c7c6c70a1bc436e3a037:51e821ba097373a7ae05c87cd37bfb20:4ddb42793a59c1b7bfff1539dfc4d068$ */
