/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14979@em2@goal-net {max-width:75px; max-height:75px; }
.@a14979@em2@goal-net::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/soccer/0.png/0.png);padding: 0; }
div.@a14979@em2@goal-net::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15004@em2@handball-emoji-modifier-fitzpatrick-type-1-2 {max-width:75px; max-height:75px; }
.@a15004@em2@handball-emoji-modifier-fitzpatrick-type-1-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/soccer/0.png/0.png);padding: 0; }
div.@a15004@em2@handball-emoji-modifier-fitzpatrick-type-1-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16303@emo@goal {max-width:75px; max-height:75px; }
.@a16303@emo@goal::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/soccer/0.png/0.png);padding: 0; }
div.@a16303@emo@goal::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a1864@bon@football-bs-8501-9021 {max-width:75px; max-height:75px; }
.@a1864@bon@football-bs-8501-9021::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/soccer/0.png/0.png);padding: 0; }
div.@a1864@bon@football-bs-8501-9021::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a1905@bon@going-out-football-match-bs-8051-9071 {max-width:75px; max-height:75px; }
.@a1905@bon@going-out-football-match-bs-8051-9071::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/soccer/0.png/0.png);padding: 0; }
div.@a1905@bon@going-out-football-match-bs-8051-9071::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a27982@ico@football2 {max-width:75px; max-height:75px; }
.@a27982@ico@football2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/soccer/0.png/0.png);padding: 0; }
div.@a27982@ico@football2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38680@mul@score-goal-to {max-width:75px; max-height:75px; }
.@a38680@mul@score-goal-to::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/soccer/0.png/0.png);padding: 0; }
div.@a38680@mul@score-goal-to::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61927@ian@urban-stadium {max-width:75px; max-height:75px; }
.@a61927@ian@urban-stadium::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/soccer/0.png/0.png);padding: 0; }
div.@a61927@ian@urban-stadium::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:38ef26d218f58bb6b1786a793e69e402:e1f12be8149b9a003f9341d6ca00584b:4ddb42793a59c1b7bfff1539dfc4d068$ */
