/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15125@em2@lower-left-crayon {max-width:75px; max-height:75px; }
.@a15125@em2@lower-left-crayon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a15125@em2@lower-left-crayon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15880@emo@crayon {max-width:75px; max-height:75px; }
.@a15880@emo@crayon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a15880@emo@crayon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17766@fir@u1f58d-lowerleftcrayon {max-width:75px; max-height:75px; }
.@a17766@fir@u1f58d-lowerleftcrayon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a17766@fir@u1f58d-lowerleftcrayon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2659@bon@wax-crayon-1806 {max-width:75px; max-height:75px; }
.@a2659@bon@wax-crayon-1806::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a2659@bon@wax-crayon-1806::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28549@jqe@lower-left-crayon {max-width:75px; max-height:75px; }
.@a28549@jqe@lower-left-crayon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a28549@jqe@lower-left-crayon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37143@mul@crayon {max-width:75px; max-height:75px; }
.@a37143@mul@crayon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a37143@mul@crayon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39819@noc@lower-left-crayon {max-width:75px; max-height:75px; }
.@a39819@noc@lower-left-crayon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a39819@noc@lower-left-crayon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a42497@nog@lower-left-crayon-objects {max-width:75px; max-height:75px; }
.@a42497@nog@lower-left-crayon-objects::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a42497@nog@lower-left-crayon-objects::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50600@tw2@lower-left-crayon {max-width:75px; max-height:75px; }
.@a50600@tw2@lower-left-crayon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@a50600@tw2@lower-left-crayon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b8512@web@crayon {max-width:75px; max-height:75px; }
.@b8512@web@crayon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crayon/0.png/0.png);padding: 0; }
div.@b8512@web@crayon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:2f159509e07f6f0363c7c8ed239ad320:b3b65cf8c767b7354edce189feda5b96:4ddb42793a59c1b7bfff1539dfc4d068$ */
