/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2691@bon@workshop-obstacles-8535 {max-width:75px; max-height:75px; }
.@a2691@bon@workshop-obstacles-8535::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/o/obstacles/0.png/0.png);padding: 0; }
div.@a2691@bon@workshop-obstacles-8535::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:3b708c4db1339dc0a43e075346aa6918:99e2cf1ecf7aa6089ce78d479c9cfdb4:4ddb42793a59c1b7bfff1539dfc4d068$ */
