/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b15009@gameicons-lorc@triple-needle {max-width:75px; max-height:75px; }
.@b15009@gameicons-lorc@triple-needle::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/t/triple_needle/0.png/0.png);padding: 0; }
div.@b15009@gameicons-lorc@triple-needle::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:c2156739fd165f5d84ef2903bd33c58b:29a31bf5574aa1b887085773352ada74:4ddb42793a59c1b7bfff1539dfc4d068$ */
