/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b14893@gameicons-lorc@striking-balls {max-width:75px; max-height:75px; }
.@b14893@gameicons-lorc@striking-balls::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/s/striking/0.png/0.png);padding: 0; }
div.@b14893@gameicons-lorc@striking-balls::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14894@gameicons-lorc@striking-clamps {max-width:75px; max-height:75px; }
.@b14894@gameicons-lorc@striking-clamps::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/s/striking/0.png/0.png);padding: 0; }
div.@b14894@gameicons-lorc@striking-clamps::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14895@gameicons-lorc@striking-diamonds {max-width:75px; max-height:75px; }
.@b14895@gameicons-lorc@striking-diamonds::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/s/striking/0.png/0.png);padding: 0; }
div.@b14895@gameicons-lorc@striking-diamonds::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14896@gameicons-lorc@striking-splinter {max-width:75px; max-height:75px; }
.@b14896@gameicons-lorc@striking-splinter::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/s/striking/0.png/0.png);padding: 0; }
div.@b14896@gameicons-lorc@striking-splinter::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:d653139bdbccdf6456864c9330d9899b:cfcdf02e34f953f95690400307624854:4ddb42793a59c1b7bfff1539dfc4d068$ */
