/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16951@emo@virgo {max-width:75px; max-height:75px; }
.@a16951@emo@virgo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@a16951@emo@virgo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a18063@fir@u264d-virgo {max-width:75px; max-height:75px; }
.@a18063@fir@u264d-virgo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@a18063@fir@u264d-virgo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40269@noc@virgo {max-width:75px; max-height:75px; }
.@a40269@noc@virgo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@a40269@noc@virgo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a43848@nog@virgo-symbols {max-width:75px; max-height:75px; }
.@a43848@nog@virgo-symbols::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@a43848@nog@virgo-symbols::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44854@not@virgo {max-width:75px; max-height:75px; }
.@a44854@not@virgo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@a44854@not@virgo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51699@twe@virgo {max-width:75px; max-height:75px; }
.@a51699@twe@virgo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@a51699@twe@virgo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a56227@web@zodiac-virgo {max-width:75px; max-height:75px; }
.@a56227@web@zodiac-virgo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@a56227@web@zodiac-virgo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b10001@em2@virgo {max-width:75px; max-height:75px; }
.@b10001@em2@virgo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@b10001@em2@virgo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13591@gameicons-delapouite@virgo {max-width:75px; max-height:75px; }
.@b13591@gameicons-delapouite@virgo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/v/virgo/0.png/0.png);padding: 0; }
div.@b13591@gameicons-delapouite@virgo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:538842cc9d2dc1679750a219a601b8f2:4544f6a75931e6107a9a7fc178dcd3f5:4ddb42793a59c1b7bfff1539dfc4d068$ */
