/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61786@ian@temperature-variation {max-width:75px; max-height:75px; }
.@a61786@ian@temperature-variation::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/v/variation/0.png/0.png);padding: 0; }
div.@a61786@ian@temperature-variation::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:19324178e12aaeb6918bccd1b7445ada:16dece2e766f2b51c5cdd1e16c3bd18f:4ddb42793a59c1b7bfff1539dfc4d068$ */
