/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b13458@gameicons-delapouite@tabletop-players {max-width:75px; max-height:75px; }
.@b13458@gameicons-delapouite@tabletop-players::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/t/tabletop/0.png/0.png);padding: 0; }
div.@b13458@gameicons-delapouite@tabletop-players::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:6baf1001ae371ced391fad3597d20d0c:c2780203760721f4dce81f0185ccb057:4ddb42793a59c1b7bfff1539dfc4d068$ */
