/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61035@ian@odocoileus-virginianus-buck {max-width:75px; max-height:75px; }
.@a61035@ian@odocoileus-virginianus-buck::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/c/capreolinae/0.png/0.png);padding: 0; }
div.@a61035@ian@odocoileus-virginianus-buck::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61036@ian@odocoileus-virginianus-doe {max-width:75px; max-height:75px; }
.@a61036@ian@odocoileus-virginianus-doe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/c/capreolinae/0.png/0.png);padding: 0; }
div.@a61036@ian@odocoileus-virginianus-doe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61037@ian@odocoileus-virginianus-fawn {max-width:75px; max-height:75px; }
.@a61037@ian@odocoileus-virginianus-fawn::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/c/capreolinae/0.png/0.png);padding: 0; }
div.@a61037@ian@odocoileus-virginianus-fawn::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:83501206c74418d51d4ee9d00023f5f7:7591423a13add2cbd1775c8c80f467a4:4ddb42793a59c1b7bfff1539dfc4d068$ */
