/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@d3358@wikim-all@minuteman_patriot_uuu28american_revolutionuuu29 {max-width:75px; max-height:75px; }
.@d3358@wikim-all@minuteman_patriot_uuu28american_revolutionuuu29::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/m/military_insignia/0.png/0.png);padding: 0; }
div.@d3358@wikim-all@minuteman_patriot_uuu28american_revolutionuuu29::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d3807@wikim-all@special_operations_command_central_emblem {max-width:75px; max-height:75px; }
.@d3807@wikim-all@special_operations_command_central_emblem::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/m/military_insignia/0.png/0.png);padding: 0; }
div.@d3807@wikim-all@special_operations_command_central_emblem::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d3879@wikim-all@u.s._military_academy_coat_of_arms {max-width:75px; max-height:75px; }
.@d3879@wikim-all@u.s._military_academy_coat_of_arms::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/m/military_insignia/0.png/0.png);padding: 0; }
div.@d3879@wikim-all@u.s._military_academy_coat_of_arms::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d3950@wikim-all@us-transcom-emblem {max-width:75px; max-height:75px; }
.@d3950@wikim-all@us-transcom-emblem::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/m/military_insignia/0.png/0.png);padding: 0; }
div.@d3950@wikim-all@us-transcom-emblem::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:7beb4abee704301c3f1f589a932eeb5b:8dded5dc7400a012b002b057b074979e:4ddb42793a59c1b7bfff1539dfc4d068$ */
