/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@d1017@mutcd@new_zealand_787 {max-width:75px; max-height:75px; }
.@d1017@mutcd@new_zealand_787::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d1017@mutcd@new_zealand_787::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1173@mutcd@peru_788 {max-width:75px; max-height:75px; }
.@d1173@mutcd@peru_788::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d1173@mutcd@peru_788::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1382@mutcd@united_states_789 {max-width:75px; max-height:75px; }
.@d1382@mutcd@united_states_789::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d1382@mutcd@united_states_789::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d157@mutcd@australia_781 {max-width:75px; max-height:75px; }
.@d157@mutcd@australia_781::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d157@mutcd@australia_781::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d327@mutcd@canada_782 {max-width:75px; max-height:75px; }
.@d327@mutcd@canada_782::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d327@mutcd@canada_782::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d404@mutcd@canada_ontario_783 {max-width:75px; max-height:75px; }
.@d404@mutcd@canada_ontario_783::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d404@mutcd@canada_ontario_783::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d492@mutcd@canada_quebec_784 {max-width:75px; max-height:75px; }
.@d492@mutcd@canada_quebec_784::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d492@mutcd@canada_quebec_784::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d658@mutcd@colombia_785 {max-width:75px; max-height:75px; }
.@d658@mutcd@colombia_785::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d658@mutcd@colombia_785::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d74@mutcd@argentina_780 {max-width:75px; max-height:75px; }
.@d74@mutcd@argentina_780::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d74@mutcd@argentina_780::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d862@mutcd@liberia_786 {max-width:75px; max-height:75px; }
.@d862@mutcd@liberia_786::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/e/emergency_vehicles/0.png/0.png);padding: 0; }
div.@d862@mutcd@liberia_786::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:5810ae8635124a86b423f4d37f2ed0d8:592412f9482ef13d1c29a04ef2900c43:4ddb42793a59c1b7bfff1539dfc4d068$ */
