/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a62081@ian@usa-me-saco-bay {max-width:75px; max-height:75px; }
.@a62081@ian@usa-me-saco-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/f/fletcher/0.png/0.png);padding: 0; }
div.@a62081@ian@usa-me-saco-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:34420b3bf64f2a5791d412b87d56aa97:1ee48ced58eae06a3fc1ec1a4eae1006:4ddb42793a59c1b7bfff1539dfc4d068$ */
