/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15079@em2@kimono {max-width:75px; max-height:75px; }
.@a15079@em2@kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a15079@em2@kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16402@emo@kimono {max-width:75px; max-height:75px; }
.@a16402@emo@kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a16402@emo@kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17483@fir@u1f458-kimono {max-width:75px; max-height:75px; }
.@a17483@fir@u1f458-kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a17483@fir@u1f458-kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28517@jqe@kimono {max-width:75px; max-height:75px; }
.@a28517@jqe@kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a28517@jqe@kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39775@noc@kimono {max-width:75px; max-height:75px; }
.@a39775@noc@kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a39775@noc@kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a42337@nog@kimono-smileys-people {max-width:75px; max-height:75px; }
.@a42337@nog@kimono-smileys-people::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a42337@nog@kimono-smileys-people::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44461@not@kimono {max-width:75px; max-height:75px; }
.@a44461@not@kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a44461@not@kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49480@str@423-kimono {max-width:75px; max-height:75px; }
.@a49480@str@423-kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a49480@str@423-kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50569@tw2@kimono {max-width:75px; max-height:75px; }
.@a50569@tw2@kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@a50569@tw2@kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12851@gameicons-delapouite@kimono {max-width:75px; max-height:75px; }
.@b12851@gameicons-delapouite@kimono::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/k/kimono/0.png/0.png);padding: 0; }
div.@b12851@gameicons-delapouite@kimono::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:1bf9654a878cf6f32684808eff2f8382:b3bf25aa889043973d2d6252545bfb0a:4ddb42793a59c1b7bfff1539dfc4d068$ */
