/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60477@ian@heiau-hawaiian-temple {max-width:75px; max-height:75px; }
.@a60477@ian@heiau-hawaiian-temple::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/h/heiau/0.png/0.png);padding: 0; }
div.@a60477@ian@heiau-hawaiian-temple::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:59a9f30406aa61361b4bb01fc780d670:0f1a9e65f3e1eaad827d9f5f6409fb9b:4ddb42793a59c1b7bfff1539dfc4d068$ */
