/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61051@ian@opsanus-tau {max-width:75px; max-height:75px; }
.@a61051@ian@opsanus-tau::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/b/batrachoididae/0.png/0.png);padding: 0; }
div.@a61051@ian@opsanus-tau::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:b41730bd2b06dd7d70a7dff27452609b:16e2c2172a917c179129ef60c47bf873:4ddb42793a59c1b7bfff1539dfc4d068$ */
