/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1745@bon@dining-area-1-bs-8501-8065 {max-width:75px; max-height:75px; }
.@a1745@bon@dining-area-1-bs-8501-8065::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/d/dining/0.png/0.png);padding: 0; }
div.@a1745@bon@dining-area-1-bs-8501-8065::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a1746@bon@dining-area-2-4031 {max-width:75px; max-height:75px; }
.@a1746@bon@dining-area-2-4031::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/d/dining/0.png/0.png);padding: 0; }
div.@a1746@bon@dining-area-2-4031::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a1747@bon@dining-room-6255 {max-width:75px; max-height:75px; }
.@a1747@bon@dining-room-6255::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/d/dining/0.png/0.png);padding: 0; }
div.@a1747@bon@dining-room-6255::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2331@bon@set-up-cafe-2017 {max-width:75px; max-height:75px; }
.@a2331@bon@set-up-cafe-2017::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/d/dining/0.png/0.png);padding: 0; }
div.@a2331@bon@set-up-cafe-2017::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37219@mul@dining-table {max-width:75px; max-height:75px; }
.@a37219@mul@dining-table::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/d/dining/0.png/0.png);padding: 0; }
div.@a37219@mul@dining-table::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:ec602d2a147d1b31b5f4de842e2e235f:5351c9c995fdbc3f11401b79a6b36801:4ddb42793a59c1b7bfff1539dfc4d068$ */
