/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12266@gameicons-delapouite@book-pile {max-width:75px; max-height:75px; }
.@b12266@gameicons-delapouite@book-pile::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/p/pile/0.png/0.png);padding: 0; }
div.@b12266@gameicons-delapouite@book-pile::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12294@gameicons-delapouite@brick-pile {max-width:75px; max-height:75px; }
.@b12294@gameicons-delapouite@brick-pile::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/p/pile/0.png/0.png);padding: 0; }
div.@b12294@gameicons-delapouite@brick-pile::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12410@gameicons-delapouite@coins-pile {max-width:75px; max-height:75px; }
.@b12410@gameicons-delapouite@coins-pile::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/p/pile/0.png/0.png);padding: 0; }
div.@b12410@gameicons-delapouite@coins-pile::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13419@gameicons-delapouite@stone-pile {max-width:75px; max-height:75px; }
.@b13419@gameicons-delapouite@stone-pile::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/p/pile/0.png/0.png);padding: 0; }
div.@b13419@gameicons-delapouite@stone-pile::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13649@gameicons-delapouite@wood-pile {max-width:75px; max-height:75px; }
.@b13649@gameicons-delapouite@wood-pile::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.35897435897436% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/p/pile/0.png/0.png);padding: 0; }
div.@b13649@gameicons-delapouite@wood-pile::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:aba6389561c90499b41c30b3fafa20b1:cca02e5e26ec874952c984284b358a6c:4ddb42793a59c1b7bfff1539dfc4d068$ */
