/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14914@em2@face-with-rolling-eyes {max-width:75px; max-height:75px; }
.@a14914@em2@face-with-rolling-eyes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.25839793281653745% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a14914@em2@face-with-rolling-eyes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16718@emo@rolling-eyes {max-width:75px; max-height:75px; }
.@a16718@emo@rolling-eyes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 10.20671834625323% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a16718@emo@rolling-eyes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a3566@darkemoji@emoji-darkemoji-0027 {max-width:75px; max-height:75px; }
.@a3566@darkemoji@emoji-darkemoji-0027::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 20.155038759689923% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a3566@darkemoji@emoji-darkemoji-0027::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39613@noc@face-w-rolling-eyes {max-width:75px; max-height:75px; }
.@a39613@noc@face-w-rolling-eyes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 30.103359173126616% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a39613@noc@face-w-rolling-eyes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a41615@nog@face-one-eyebrow-raised-smileys-people {max-width:75px; max-height:75px; }
.@a41615@nog@face-one-eyebrow-raised-smileys-people::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 40.05167958656331% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a41615@nog@face-one-eyebrow-raised-smileys-people::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49220@str@022-face-with-raised-eyebrow {max-width:75px; max-height:75px; }
.@a49220@str@022-face-with-raised-eyebrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a49220@str@022-face-with-raised-eyebrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49224@str@026-face-with-rolling-eyes {max-width:75px; max-height:75px; }
.@a49224@str@026-face-with-rolling-eyes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 59.94832041343669% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a49224@str@026-face-with-rolling-eyes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a58232@baianet@group {max-width:75px; max-height:75px; }
.@a58232@baianet@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 69.89664082687338% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a58232@baianet@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a58323@baianet@group {max-width:75px; max-height:75px; }
.@a58323@baianet@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 79.84496124031008% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@a58323@baianet@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4248@wikim-ladyofhats@bored {max-width:75px; max-height:75px; }
.@d4248@wikim-ladyofhats@bored::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 89.79328165374677% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@d4248@wikim-ladyofhats@bored::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4249@wikim-ladyofhats@bubble {max-width:75px; max-height:75px; }
.@d4249@wikim-ladyofhats@bubble::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.74160206718346% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/c/cynical/0.png/0.png);padding: 0; }
div.@d4249@wikim-ladyofhats@bubble::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:3a003011518e02a857e604d94596947b:f2c0661ef796677fe3f8dc6050c5385c:4ddb42793a59c1b7bfff1539dfc4d068$ */
