/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12944@gameicons-delapouite@meeple-group {max-width:75px; max-height:75px; }
.@b12944@gameicons-delapouite@meeple-group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/m/meeple_group/0.png/0.png);padding: 0; }
div.@b12944@gameicons-delapouite@meeple-group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:4bc109734c17fa80092a7a5a6fa8fc14:b1bce13de60b68ddc5285bc18fad947e:4ddb42793a59c1b7bfff1539dfc4d068$ */
