/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a59694@ian@chicken_necking {max-width:75px; max-height:75px; }
.@a59694@ian@chicken_necking::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/n/necking/0.png/0.png);padding: 0; }
div.@a59694@ian@chicken_necking::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:4b5275ab5fbb035b2c7b1d1b1d127e5b:2a7024b1ff7f2e26b2292c85fbfb9555:4ddb42793a59c1b7bfff1539dfc4d068$ */
