/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60014@ian@desiccation {max-width:75px; max-height:75px; }
.@a60014@ian@desiccation::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/d/drying/0.png/0.png);padding: 0; }
div.@a60014@ian@desiccation::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60063@ian@drying-oven {max-width:75px; max-height:75px; }
.@a60063@ian@drying-oven::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/d/drying/0.png/0.png);padding: 0; }
div.@a60063@ian@drying-oven::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:1d3dc3cc8a682a0c3c6f3a44af234d62:48632a01f6148b48facac7dfb8947219:4ddb42793a59c1b7bfff1539dfc4d068$ */
