/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61005@ian@net {max-width:75px; max-height:75px; }
.@a61005@ian@net::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/c/collect/0.png/0.png);padding: 0; }
div.@a61005@ian@net::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61401@ian@research-vessel {max-width:75px; max-height:75px; }
.@a61401@ian@research-vessel::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/c/collect/0.png/0.png);padding: 0; }
div.@a61401@ian@research-vessel::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61402@ian@research-vessel2 {max-width:75px; max-height:75px; }
.@a61402@ian@research-vessel2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/c/collect/0.png/0.png);padding: 0; }
div.@a61402@ian@research-vessel2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:dffbc45cc8f44959daf38e1c67f624db:e597b98bce1fc03e7de59da82d8ed245:4ddb42793a59c1b7bfff1539dfc4d068$ */
