/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12958@gameicons-delapouite@mighty-boosh {max-width:75px; max-height:75px; }
.@b12958@gameicons-delapouite@mighty-boosh::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/m/mighty/0.png/0.png);padding: 0; }
div.@b12958@gameicons-delapouite@mighty-boosh::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12959@gameicons-delapouite@mighty-force {max-width:75px; max-height:75px; }
.@b12959@gameicons-delapouite@mighty-force::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/m/mighty/0.png/0.png);padding: 0; }
div.@b12959@gameicons-delapouite@mighty-force::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14504@gameicons-lorc@mighty-spanner {max-width:75px; max-height:75px; }
.@b14504@gameicons-lorc@mighty-spanner::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/m/mighty/0.png/0.png);padding: 0; }
div.@b14504@gameicons-lorc@mighty-spanner::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:e354a3525e07bea9066d4bbf34bad962:809da0985fe06993cae256f4df3cc28f:4ddb42793a59c1b7bfff1539dfc4d068$ */
