/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2206@bon@pot-stand-2546- {max-width:75px; max-height:75px; }
.@a2206@bon@pot-stand-2546-::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a2206@bon@pot-stand-2546-::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2489@bon@tea-pot-2565 {max-width:75px; max-height:75px; }
.@a2489@bon@tea-pot-2565::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a2489@bon@tea-pot-2565::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a27702@icf@pot-with-spoon {max-width:75px; max-height:75px; }
.@a27702@icf@pot-with-spoon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a27702@icf@pot-with-spoon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a27780@icf@stew-pot-and-spoon {max-width:75px; max-height:75px; }
.@a27780@icf@stew-pot-and-spoon::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a27780@icf@stew-pot-and-spoon::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a29592@knl@cooking-pot {max-width:75px; max-height:75px; }
.@a29592@knl@cooking-pot::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a29592@knl@cooking-pot::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a34835@mat@pot-mix {max-width:75px; max-height:75px; }
.@a34835@mat@pot-mix::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a34835@mat@pot-mix::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a34837@mat@pot {max-width:75px; max-height:75px; }
.@a34837@mat@pot::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a34837@mat@pot::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36784@mul@casserole-1 {max-width:75px; max-height:75px; }
.@a36784@mul@casserole-1::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a36784@mul@casserole-1::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36785@mul@casserole-2 {max-width:75px; max-height:75px; }
.@a36785@mul@casserole-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a36785@mul@casserole-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36786@mul@casserole {max-width:75px; max-height:75px; }
.@a36786@mul@casserole::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a36786@mul@casserole::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38498@mul@pot-noodle {max-width:75px; max-height:75px; }
.@a38498@mul@pot-noodle::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a38498@mul@pot-noodle::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38499@mul@pot {max-width:75px; max-height:75px; }
.@a38499@mul@pot::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a38499@mul@pot::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49621@str@564-honey-pot {max-width:75px; max-height:75px; }
.@a49621@str@564-honey-pot::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a49621@str@564-honey-pot::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59371@ian@archaeological-site {max-width:75px; max-height:75px; }
.@a59371@ian@archaeological-site::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@a59371@ian@archaeological-site::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12431@gameicons-delapouite@cooking-pot {max-width:75px; max-height:75px; }
.@b12431@gameicons-delapouite@cooking-pot::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pot/0.png/0.png);padding: 0; }
div.@b12431@gameicons-delapouite@cooking-pot::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:ebf58c498ec24f049ba13a1cad52422c:b0b8329d79bb0802cdcf363deedb8bcb:4ddb42793a59c1b7bfff1539dfc4d068$ */
