/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14908@em2@face-with-look-of-triumph {max-width:75px; max-height:75px; }
.@a14908@em2@face-with-look-of-triumph::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/triumph/0.png/0.png);padding: 0; }
div.@a14908@em2@face-with-look-of-triumph::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16906@emo@triumph {max-width:75px; max-height:75px; }
.@a16906@emo@triumph::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/triumph/0.png/0.png);padding: 0; }
div.@a16906@emo@triumph::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17910@fir@u1f624-triumph {max-width:75px; max-height:75px; }
.@a17910@fir@u1f624-triumph::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/triumph/0.png/0.png);padding: 0; }
div.@a17910@fir@u1f624-triumph::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28376@jqe@face-with-look-of-triumph {max-width:75px; max-height:75px; }
.@a28376@jqe@face-with-look-of-triumph::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/triumph/0.png/0.png);padding: 0; }
div.@a28376@jqe@face-with-look-of-triumph::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39607@noc@face-w-look-of-triumph {max-width:75px; max-height:75px; }
.@a39607@noc@face-w-look-of-triumph::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/triumph/0.png/0.png);padding: 0; }
div.@a39607@noc@face-w-look-of-triumph::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a41598@nog@face-look-of-triumph-smileys-people {max-width:75px; max-height:75px; }
.@a41598@nog@face-look-of-triumph-smileys-people::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/triumph/0.png/0.png);padding: 0; }
div.@a41598@nog@face-look-of-triumph-smileys-people::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44321@not@face-with-look-of-triumph {max-width:75px; max-height:75px; }
.@a44321@not@face-with-look-of-triumph::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/triumph/0.png/0.png);padding: 0; }
div.@a44321@not@face-with-look-of-triumph::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51246@twe@face-with-look-of-triumph {max-width:75px; max-height:75px; }
.@a51246@twe@face-with-look-of-triumph::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/triumph/0.png/0.png);padding: 0; }
div.@a51246@twe@face-with-look-of-triumph::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:4a4eb98791e925c8fc4a090f69aad1f1:250ba8f09c8f6604c447e556b326990c:4ddb42793a59c1b7bfff1539dfc4d068$ */
