/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15367@em2@scorpius {max-width:75px; max-height:75px; }
.@a15367@em2@scorpius::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a15367@em2@scorpius::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16744@emo@scorpius {max-width:75px; max-height:75px; }
.@a16744@emo@scorpius::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a16744@emo@scorpius::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a18065@fir@u264f-scorpius {max-width:75px; max-height:75px; }
.@a18065@fir@u264f-scorpius::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a18065@fir@u264f-scorpius::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a30982@lin@scorpio {max-width:75px; max-height:75px; }
.@a30982@lin@scorpio::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a30982@lin@scorpio::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40085@noc@scorpius {max-width:75px; max-height:75px; }
.@a40085@noc@scorpius::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a40085@noc@scorpius::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a43350@nog@scorpius-symbols {max-width:75px; max-height:75px; }
.@a43350@nog@scorpius-symbols::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a43350@nog@scorpius-symbols::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44684@not@scorpius {max-width:75px; max-height:75px; }
.@a44684@not@scorpius::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a44684@not@scorpius::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51581@twe@scorpius {max-width:75px; max-height:75px; }
.@a51581@twe@scorpius::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a51581@twe@scorpius::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a56225@web@zodiac-scorpio {max-width:75px; max-height:75px; }
.@a56225@web@zodiac-scorpio::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@a56225@web@zodiac-scorpio::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13272@gameicons-delapouite@scorpio {max-width:75px; max-height:75px; }
.@b13272@gameicons-delapouite@scorpio::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/s/scorpius/0.png/0.png);padding: 0; }
div.@b13272@gameicons-delapouite@scorpio::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:3c71f2d3e61ede975b66d52cb701661b:e9ebb98beeeadd70c18fe3ac45475aa7:4ddb42793a59c1b7bfff1539dfc4d068$ */
