/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16216@emo@sk {max-width:75px; max-height:75px; }
.@a16216@emo@sk::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/s/slovakia/0.png/0.png);padding: 0; }
div.@a16216@emo@sk::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37603@mul@slovakia {max-width:75px; max-height:75px; }
.@a37603@mul@slovakia::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/s/slovakia/0.png/0.png);padding: 0; }
div.@a37603@mul@slovakia::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:7ae8135cab41e9e5db271d2cf049fbb4:0e3d85ee99a47a8c780c2cd1ad9ccfe9:4ddb42793a59c1b7bfff1539dfc4d068$ */
