/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a37366@mul@extra-large {max-width:75px; max-height:75px; }
.@a37366@mul@extra-large::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/e/extra_large/0.png/0.png);padding: 0; }
div.@a37366@mul@extra-large::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:26250754155def7a0de8187147fd7f32:1e79cd752b357dd3b559e33ab3f8c570:4ddb42793a59c1b7bfff1539dfc4d068$ */
