/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60178@ian@eubalaena-glacialis {max-width:75px; max-height:75px; }
.@a60178@ian@eubalaena-glacialis::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/s/synapsida/0.png/0.png);padding: 0; }
div.@a60178@ian@eubalaena-glacialis::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:2248474a1b7b3df54b3f15f57ea99147:61bab7d0a8bb7024319ce74b19916522:4ddb42793a59c1b7bfff1539dfc4d068$ */
