/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b13930@gameicons-lorc@circle-sparks {max-width:75px; max-height:75px; }
.@b13930@gameicons-lorc@circle-sparks::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/circle_sparks/0.png/0.png);padding: 0; }
div.@b13930@gameicons-lorc@circle-sparks::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:b56a634acbb44af6d0229b90b7e7e507:6ded1f20d614afb5181e63a8038532dc:4ddb42793a59c1b7bfff1539dfc4d068$ */
