/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a59403@ian@australia-qld-bramble-bay {max-width:75px; max-height:75px; }
.@a59403@ian@australia-qld-bramble-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/b/brisbane/0.png/0.png);padding: 0; }
div.@a59403@ian@australia-qld-bramble-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59410@ian@australia-qld-mid-brisbane-river {max-width:75px; max-height:75px; }
.@a59410@ian@australia-qld-mid-brisbane-river::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/b/brisbane/0.png/0.png);padding: 0; }
div.@a59410@ian@australia-qld-mid-brisbane-river::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59413@ian@australia-qld-north-pine-dam {max-width:75px; max-height:75px; }
.@a59413@ian@australia-qld-north-pine-dam::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/b/brisbane/0.png/0.png);padding: 0; }
div.@a59413@ian@australia-qld-north-pine-dam::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59417@ian@australia-qld-stanley-river {max-width:75px; max-height:75px; }
.@a59417@ian@australia-qld-stanley-river::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/b/brisbane/0.png/0.png);padding: 0; }
div.@a59417@ian@australia-qld-stanley-river::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59418@ian@australia-qld-upper-brisbane-river {max-width:75px; max-height:75px; }
.@a59418@ian@australia-qld-upper-brisbane-river::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/b/brisbane/0.png/0.png);padding: 0; }
div.@a59418@ian@australia-qld-upper-brisbane-river::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59419@ian@australia-qld-waterloo-bay {max-width:75px; max-height:75px; }
.@a59419@ian@australia-qld-waterloo-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/b/brisbane/0.png/0.png);padding: 0; }
div.@a59419@ian@australia-qld-waterloo-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59420@ian@australia-qld-wivenhoe-dam {max-width:75px; max-height:75px; }
.@a59420@ian@australia-qld-wivenhoe-dam::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/b/brisbane/0.png/0.png);padding: 0; }
div.@a59420@ian@australia-qld-wivenhoe-dam::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:e2ff5901f736960a994ac24564f08e69:94a3e2604bf6032bc043d52bdac807b5:4ddb42793a59c1b7bfff1539dfc4d068$ */
