/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a36844@mul@chewy-tube {max-width:75px; max-height:75px; }
.@a36844@mul@chewy-tube::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/chewy_tube/0.png/0.png);padding: 0; }
div.@a36844@mul@chewy-tube::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:947a73118e072aab5c16bb3663e56131:81ca2c76dc69e587bd51fb203f04546f:4ddb42793a59c1b7bfff1539dfc4d068$ */
