/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a59605@ian@carcharhinus-leucas-1 {max-width:75px; max-height:75px; }
.@a59605@ian@carcharhinus-leucas-1::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/carcharhiniformes/0.png/0.png);padding: 0; }
div.@a59605@ian@carcharhinus-leucas-1::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59606@ian@carcharhinus-leucas-2 {max-width:75px; max-height:75px; }
.@a59606@ian@carcharhinus-leucas-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/carcharhiniformes/0.png/0.png);padding: 0; }
div.@a59606@ian@carcharhinus-leucas-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59607@ian@carcharhinus-melanopterus {max-width:75px; max-height:75px; }
.@a59607@ian@carcharhinus-melanopterus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/carcharhiniformes/0.png/0.png);padding: 0; }
div.@a59607@ian@carcharhinus-melanopterus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59608@ian@carcharhinus-plumbeus {max-width:75px; max-height:75px; }
.@a59608@ian@carcharhinus-plumbeus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/carcharhiniformes/0.png/0.png);padding: 0; }
div.@a59608@ian@carcharhinus-plumbeus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61670@ian@sphyrna-spp {max-width:75px; max-height:75px; }
.@a61670@ian@sphyrna-spp::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/carcharhiniformes/0.png/0.png);padding: 0; }
div.@a61670@ian@sphyrna-spp::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61846@ian@triaenodon-obesus {max-width:75px; max-height:75px; }
.@a61846@ian@triaenodon-obesus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/carcharhiniformes/0.png/0.png);padding: 0; }
div.@a61846@ian@triaenodon-obesus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:8ae0b418a82ca69e4a53b53d26789b6a:8f62d884ef0b944b963b30364d1f0ace:4ddb42793a59c1b7bfff1539dfc4d068$ */
