/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a29117@jqu@krw {max-width:75px; max-height:75px; }
.@a29117@jqu@krw::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/won/0.png/0.png);padding: 0; }
div.@a29117@jqu@krw::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a33201@mat@currency-krw {max-width:75px; max-height:75px; }
.@a33201@mat@currency-krw::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/won/0.png/0.png);padding: 0; }
div.@a33201@mat@currency-krw::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36168@met@krw {max-width:75px; max-height:75px; }
.@a36168@met@krw::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/won/0.png/0.png);padding: 0; }
div.@a36168@met@krw::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a58148@xei@won {max-width:75px; max-height:75px; }
.@a58148@xei@won::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/won/0.png/0.png);padding: 0; }
div.@a58148@xei@won::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a853@awe@krw {max-width:75px; max-height:75px; }
.@a853@awe@krw::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.35897435897436% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/won/0.png/0.png);padding: 0; }
div.@a853@awe@krw::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:416665309f5073d7a33fc5ec70b20da2:17a189e07af8ed9ebcf9d21fe5f233d4:4ddb42793a59c1b7bfff1539dfc4d068$ */
