/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61949@ian@usa-ca-san-francisco-san-pablo-suisan-bays {max-width:75px; max-height:75px; }
.@a61949@ian@usa-ca-san-francisco-san-pablo-suisan-bays::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/p/pablo/0.png/0.png);padding: 0; }
div.@a61949@ian@usa-ca-san-francisco-san-pablo-suisan-bays::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:da3d47b3db0264485f8a087a134daf4f:c34043f86ee197949eca902c083082ff:4ddb42793a59c1b7bfff1539dfc4d068$ */
