/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a26095@gue@flood {max-width:75px; max-height:75px; }
.@a26095@gue@flood::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/flood/0.png/0.png);padding: 0; }
div.@a26095@gue@flood::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59879@ian@concrete-weir {max-width:75px; max-height:75px; }
.@a59879@ian@concrete-weir::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/flood/0.png/0.png);padding: 0; }
div.@a59879@ian@concrete-weir::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60176@ian@estuary-3d-sea-level-rise-diptych {max-width:75px; max-height:75px; }
.@a60176@ian@estuary-3d-sea-level-rise-diptych::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/flood/0.png/0.png);padding: 0; }
div.@a60176@ian@estuary-3d-sea-level-rise-diptych::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60296@ian@flooding {max-width:75px; max-height:75px; }
.@a60296@ian@flooding::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/flood/0.png/0.png);padding: 0; }
div.@a60296@ian@flooding::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60749@ian@low-clouds-cumulonimbus-1 {max-width:75px; max-height:75px; }
.@a60749@ian@low-clouds-cumulonimbus-1::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/flood/0.png/0.png);padding: 0; }
div.@a60749@ian@low-clouds-cumulonimbus-1::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12638@gameicons-delapouite@flood {max-width:75px; max-height:75px; }
.@b12638@gameicons-delapouite@flood::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/flood/0.png/0.png);padding: 0; }
div.@b12638@gameicons-delapouite@flood::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:ad6e38df376dfa27fbdc7ac1faf241df:cdb776dac167e1e8aeff4748fe4c23e1:4ddb42793a59c1b7bfff1539dfc4d068$ */
