/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15011@em2@heart-with-arrow {max-width:75px; max-height:75px; }
.@a15011@em2@heart-with-arrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.25839793281653745% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a15011@em2@heart-with-arrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17547@fir@u1f498-heartarrow {max-width:75px; max-height:75px; }
.@a17547@fir@u1f498-heartarrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 10.20671834625323% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a17547@fir@u1f498-heartarrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a27581@icf@heart-pierced-by-arrow {max-width:75px; max-height:75px; }
.@a27581@icf@heart-pierced-by-arrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 20.155038759689923% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a27581@icf@heart-pierced-by-arrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28459@jqe@heart-with-arrow {max-width:75px; max-height:75px; }
.@a28459@jqe@heart-with-arrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 30.103359173126616% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a28459@jqe@heart-with-arrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39708@noc@heart-w-arrow {max-width:75px; max-height:75px; }
.@a39708@noc@heart-w-arrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 40.05167958656331% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a39708@noc@heart-w-arrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a42015@nog@heart-arrow-smileys-people {max-width:75px; max-height:75px; }
.@a42015@nog@heart-arrow-smileys-people::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a42015@nog@heart-arrow-smileys-people::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44402@not@heart-with-arrow {max-width:75px; max-height:75px; }
.@a44402@not@heart-with-arrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 59.94832041343669% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a44402@not@heart-with-arrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49458@str@401-heart-with-arrow {max-width:75px; max-height:75px; }
.@a49458@str@401-heart-with-arrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 69.89664082687338% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a49458@str@401-heart-with-arrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50512@tw2@heart-with-arrow {max-width:75px; max-height:75px; }
.@a50512@tw2@heart-with-arrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 79.84496124031008% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a50512@tw2@heart-with-arrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51322@twe@heart-with-arrow {max-width:75px; max-height:75px; }
.@a51322@twe@heart-with-arrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 89.79328165374677% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a51322@twe@heart-with-arrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a55087@web@heartarrow {max-width:75px; max-height:75px; }
.@a55087@web@heartarrow::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.74160206718346% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/w/with_arrow/0.png/0.png);padding: 0; }
div.@a55087@web@heartarrow::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:a7565af89e7fb260d98e5c853a427b07:2b6f2bb642c643eb1e2b0940814e4883:4ddb42793a59c1b7bfff1539dfc4d068$ */
