/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a26366@her@gatehouse {max-width:75px; max-height:75px; }
.@a26366@her@gatehouse::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.25839793281653745% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@a26366@her@gatehouse::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26486@her@portcullis {max-width:75px; max-height:75px; }
.@a26486@her@portcullis::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 10.20671834625323% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@a26486@her@portcullis::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a45659@ope@nicubunu_rpg_map_symbols_gate {max-width:75px; max-height:75px; }
.@a45659@ope@nicubunu_rpg_map_symbols_gate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 20.155038759689923% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@a45659@ope@nicubunu_rpg_map_symbols_gate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12527@gameicons-delapouite@dungeon-gate {max-width:75px; max-height:75px; }
.@b12527@gameicons-delapouite@dungeon-gate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 30.103359173126616% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@b12527@gameicons-delapouite@dungeon-gate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12680@gameicons-delapouite@gate {max-width:75px; max-height:75px; }
.@b12680@gameicons-delapouite@gate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 40.05167958656331% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@b12680@gameicons-delapouite@gate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12942@gameicons-delapouite@medieval-gate {max-width:75px; max-height:75px; }
.@b12942@gameicons-delapouite@medieval-gate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@b12942@gameicons-delapouite@medieval-gate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13399@gameicons-delapouite@star-gate {max-width:75px; max-height:75px; }
.@b13399@gameicons-delapouite@star-gate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 59.94832041343669% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@b13399@gameicons-delapouite@star-gate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13531@gameicons-delapouite@triple-gate {max-width:75px; max-height:75px; }
.@b13531@gameicons-delapouite@triple-gate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 69.89664082687338% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@b13531@gameicons-delapouite@triple-gate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14462@gameicons-lorc@magic-gate {max-width:75px; max-height:75px; }
.@b14462@gameicons-lorc@magic-gate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 79.84496124031008% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@b14462@gameicons-lorc@magic-gate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d3045@wikim-all@herse_classique {max-width:75px; max-height:75px; }
.@d3045@wikim-all@herse_classique::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 89.79328165374677% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@d3045@wikim-all@herse_classique::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d3272@wikim-all@meuble_huuuc3uuua9raldique_herse-sarrasine {max-width:75px; max-height:75px; }
.@d3272@wikim-all@meuble_huuuc3uuua9raldique_herse-sarrasine::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.74160206718346% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/g/gate/0.png/0.png);padding: 0; }
div.@d3272@wikim-all@meuble_huuuc3uuua9raldique_herse-sarrasine::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:943059a327817df0b6cd2b5e0f961051:7ec48f15bbc33e6b4d171c9112a8f491:4ddb42793a59c1b7bfff1539dfc4d068$ */
