/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60551@ian@indonesian_zone_marker {max-width:75px; max-height:75px; }
.@a60551@ian@indonesian_zone_marker::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/i/indonesian/0.png/0.png);padding: 0; }
div.@a60551@ian@indonesian_zone_marker::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:688d4bb738e53eb1bbd4df3970fd1d4d:c37836bfe144e3f542fa2873d6578549:4ddb42793a59c1b7bfff1539dfc4d068$ */
