/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b13957@gameicons-lorc@condor-emblem {max-width:75px; max-height:75px; }
.@b13957@gameicons-lorc@condor-emblem::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/condor_emblem/0.png/0.png);padding: 0; }
div.@b13957@gameicons-lorc@condor-emblem::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:0493c8b55836cecca4d37ac29dbfff98:8f8123790befa0fd7093dd804a1c7bed:4ddb42793a59c1b7bfff1539dfc4d068$ */
