/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a3237@cry@btc-2 {max-width:75px; max-height:75px; }
.@a3237@cry@btc-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crypto/0.png/0.png);padding: 0; }
div.@a3237@cry@btc-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a3238@cry@btc {max-width:75px; max-height:75px; }
.@a3238@cry@btc::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crypto/0.png/0.png);padding: 0; }
div.@a3238@cry@btc::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a33187@mat@currency-btc {max-width:75px; max-height:75px; }
.@a33187@mat@currency-btc::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crypto/0.png/0.png);padding: 0; }
div.@a33187@mat@currency-btc::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a48556@small@bitcoin {max-width:75px; max-height:75px; }
.@a48556@small@bitcoin::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/c/crypto/0.png/0.png);padding: 0; }
div.@a48556@small@bitcoin::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:08dcb81fa9c1801564317424b027ce4e:03b8d9d240d07d212c1088c464c61c21:4ddb42793a59c1b7bfff1539dfc4d068$ */
