/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15246@em2@pancakes {max-width:75px; max-height:75px; }
.@a15246@em2@pancakes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a15246@em2@pancakes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16582@emo@pancakes {max-width:75px; max-height:75px; }
.@a16582@emo@pancakes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a16582@emo@pancakes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38342@mul@pancake-2 {max-width:75px; max-height:75px; }
.@a38342@mul@pancake-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a38342@mul@pancake-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38343@mul@pancakes {max-width:75px; max-height:75px; }
.@a38343@mul@pancakes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a38343@mul@pancakes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39053@mul@toss-pancake-to {max-width:75px; max-height:75px; }
.@a39053@mul@toss-pancake-to::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a39053@mul@toss-pancake-to::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39964@noc@pancakes {max-width:75px; max-height:75px; }
.@a39964@noc@pancakes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a39964@noc@pancakes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a42944@nog@pancakes-food-drink {max-width:75px; max-height:75px; }
.@a42944@nog@pancakes-food-drink::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a42944@nog@pancakes-food-drink::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50734@tw2@pancakes {max-width:75px; max-height:75px; }
.@a50734@tw2@pancakes::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a50734@tw2@pancakes::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a6835@df-fastfoodicons@ecircumflex {max-width:75px; max-height:75px; }
.@a6835@df-fastfoodicons@ecircumflex::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/p/pancakes/0.png/0.png);padding: 0; }
div.@a6835@df-fastfoodicons@ecircumflex::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:2b97dfb399ca58fbcc64d7f49a583d64:b799cb08f83f7b6eefdd08b25396b6cb:4ddb42793a59c1b7bfff1539dfc4d068$ */
