/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a59725@ian@climate-change-ghost-forest {max-width:75px; max-height:75px; }
.@a59725@ian@climate-change-ghost-forest::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/s/subsidence/0.png/0.png);padding: 0; }
div.@a59725@ian@climate-change-ghost-forest::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61385@ian@reef-3d-volcanic-island-submerged-coral-atoll {max-width:75px; max-height:75px; }
.@a61385@ian@reef-3d-volcanic-island-submerged-coral-atoll::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/s/subsidence/0.png/0.png);padding: 0; }
div.@a61385@ian@reef-3d-volcanic-island-submerged-coral-atoll::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:deb8e13bc98dedbb21de48aa8fa330cb:23a1f302992c404e36502e1736b62895:4ddb42793a59c1b7bfff1539dfc4d068$ */
