/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b14550@gameicons-lorc@oat {max-width:75px; max-height:75px; }
.@b14550@gameicons-lorc@oat::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/o/oat/0.png/0.png);padding: 0; }
div.@b14550@gameicons-lorc@oat::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:779a30454af0e2f03d6ed83d35acc79a:35178c824c1c9206a6cb1af9d0f85a6d:4ddb42793a59c1b7bfff1539dfc4d068$ */
