/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60901@ian@montastrea-spp {max-width:75px; max-height:75px; }
.@a60901@ian@montastrea-spp::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/cavernosa/0.png/0.png);padding: 0; }
div.@a60901@ian@montastrea-spp::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:8cf63451e1e2d5d592bbd5430f2037b2:00ab054b2d228a85922ce4573b646aa0:4ddb42793a59c1b7bfff1539dfc4d068$ */
