/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1501@bon@athletics-track-bs-8501-9003 {max-width:75px; max-height:75px; }
.@a1501@bon@athletics-track-bs-8501-9003::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.25839793281653745% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a1501@bon@athletics-track-bs-8501-9003::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15315@em2@railway-track {max-width:75px; max-height:75px; }
.@a15315@em2@railway-track::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 10.20671834625323% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a15315@em2@railway-track::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16658@emo@railway-track {max-width:75px; max-height:75px; }
.@a16658@emo@railway-track::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 20.155038759689923% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a16658@emo@railway-track::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28707@jqe@railway-track {max-width:75px; max-height:75px; }
.@a28707@jqe@railway-track::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 30.103359173126616% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a28707@jqe@railway-track::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a43171@nog@railway-track-travel-places {max-width:75px; max-height:75px; }
.@a43171@nog@railway-track-travel-places::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 40.05167958656331% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a43171@nog@railway-track-travel-places::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50796@tw2@railway-track {max-width:75px; max-height:75px; }
.@a50796@tw2@railway-track::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a50796@tw2@railway-track::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a55686@web@railroad {max-width:75px; max-height:75px; }
.@a55686@web@railroad::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 59.94832041343669% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a55686@web@railroad::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a55687@web@railtunnel {max-width:75px; max-height:75px; }
.@a55687@web@railtunnel::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 69.89664082687338% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a55687@web@railtunnel::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a57297@win@train-track {max-width:75px; max-height:75px; }
.@a57297@win@train-track::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 79.84496124031008% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a57297@win@train-track::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a57298@win@train-tunnel {max-width:75px; max-height:75px; }
.@a57298@win@train-tunnel::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 89.79328165374677% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@a57298@win@train-tunnel::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13186@gameicons-delapouite@railway {max-width:75px; max-height:75px; }
.@b13186@gameicons-delapouite@railway::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.74160206718346% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/track/0.png/0.png);padding: 0; }
div.@b13186@gameicons-delapouite@railway::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:6cdd502f494ce0d7ad33f24ba7e829cd:b47a581d43a3042b8e9fc335fd9ea920:4ddb42793a59c1b7bfff1539dfc4d068$ */
