/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15361@em2@scales {max-width:75px; max-height:75px; }
.@a15361@em2@scales::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a15361@em2@scales::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16738@emo@scales {max-width:75px; max-height:75px; }
.@a16738@emo@scales::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a16738@emo@scales::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a27745@icf@scales-of-justice {max-width:75px; max-height:75px; }
.@a27745@icf@scales-of-justice::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a27745@icf@scales-of-justice::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a32034@map@lawyer {max-width:75px; max-height:75px; }
.@a32034@map@lawyer::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a32034@map@lawyer::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36163@met@justice {max-width:75px; max-height:75px; }
.@a36163@met@justice::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a36163@met@justice::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40081@noc@scales {max-width:75px; max-height:75px; }
.@a40081@noc@scales::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a40081@noc@scales::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a43335@nog@scales-objects {max-width:75px; max-height:75px; }
.@a43335@nog@scales-objects::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a43335@nog@scales-objects::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a46266@osm@administration-courthouse-10 {max-width:75px; max-height:75px; }
.@a46266@osm@administration-courthouse-10::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a46266@osm@administration-courthouse-10::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a46267@osm@administration-courthouse-14 {max-width:75px; max-height:75px; }
.@a46267@osm@administration-courthouse-14::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a46267@osm@administration-courthouse-14::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a48997@ssj@court {max-width:75px; max-height:75px; }
.@a48997@ssj@court::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a48997@ssj@court::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50839@tw2@scales {max-width:75px; max-height:75px; }
.@a50839@tw2@scales::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a50839@tw2@scales::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a55775@web@scales {max-width:75px; max-height:75px; }
.@a55775@web@scales::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a55775@web@scales::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61395@ian@regional-level-initiatives {max-width:75px; max-height:75px; }
.@a61395@ian@regional-level-initiatives::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a61395@ian@regional-level-initiatives::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61689@ian@state-level-planning-initiatives {max-width:75px; max-height:75px; }
.@a61689@ian@state-level-planning-initiatives::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@a61689@ian@state-level-planning-initiatives::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14700@gameicons-lorc@scales {max-width:75px; max-height:75px; }
.@b14700@gameicons-lorc@scales::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/legal/0.png/0.png);padding: 0; }
div.@b14700@gameicons-lorc@scales::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:825b5dd7a6f65e26fdc385f5db221e0f:98788c3a4ca3d4566bd4a266fd516d62:4ddb42793a59c1b7bfff1539dfc4d068$ */
