/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a36906@mul@cleaning-box {max-width:75px; max-height:75px; }
.@a36906@mul@cleaning-box::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/cleaning_box/0.png/0.png);padding: 0; }
div.@a36906@mul@cleaning-box::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:20d28041b3d40ccc8b8e2100ce08104b:1bb5586be9e887f26c1105f9289696ad:4ddb42793a59c1b7bfff1539dfc4d068$ */
