/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12255@gameicons-delapouite@boat-propeller {max-width:75px; max-height:75px; }
.@b12255@gameicons-delapouite@boat-propeller::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/p/propeller/0.png/0.png);padding: 0; }
div.@b12255@gameicons-delapouite@boat-propeller::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13168@gameicons-delapouite@propeller-beanie {max-width:75px; max-height:75px; }
.@b13168@gameicons-delapouite@propeller-beanie::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/p/propeller/0.png/0.png);padding: 0; }
div.@b13168@gameicons-delapouite@propeller-beanie::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:e04b6ed89e7c402e97553278a274e7c3:a44d5d539b2c06c534c310eba6b5d2e6:4ddb42793a59c1b7bfff1539dfc4d068$ */
