/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2692@bon@workshop-rights-and-responsibilities-8536 {max-width:75px; max-height:75px; }
.@a2692@bon@workshop-rights-and-responsibilities-8536::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/r/responsibilities/0.png/0.png);padding: 0; }
div.@a2692@bon@workshop-rights-and-responsibilities-8536::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:710935edf6a300e483996dbe66d89a73:0d68140c15e6ca2ca42c2e0541d50765:4ddb42793a59c1b7bfff1539dfc4d068$ */
