/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60175@ian@estuary-3d-river-mouth-triptych {max-width:75px; max-height:75px; }
.@a60175@ian@estuary-3d-river-mouth-triptych::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/p/pristine/0.png/0.png);padding: 0; }
div.@a60175@ian@estuary-3d-river-mouth-triptych::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:a54d2a09d3f74d4782dd81756739e3dd:f40bbf55d50f2d5a9b238649f031ac38:4ddb42793a59c1b7bfff1539dfc4d068$ */
