/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60713@ian@lighthouse-1 {max-width:75px; max-height:75px; }
.@a60713@ian@lighthouse-1::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/l/lighthouse/0.png/0.png);padding: 0; }
div.@a60713@ian@lighthouse-1::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60715@ian@lighthouse-3 {max-width:75px; max-height:75px; }
.@a60715@ian@lighthouse-3::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/l/lighthouse/0.png/0.png);padding: 0; }
div.@a60715@ian@lighthouse-3::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a62283@ope@johnny_automatic_johnny_automatic_lighthouse_ {max-width:75px; max-height:75px; }
.@a62283@ope@johnny_automatic_johnny_automatic_lighthouse_::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/l/lighthouse/0.png/0.png);padding: 0; }
div.@a62283@ope@johnny_automatic_johnny_automatic_lighthouse_::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a8657@df-kotasurabaya@g {max-width:75px; max-height:75px; }
.@a8657@df-kotasurabaya@g::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/l/lighthouse/0.png/0.png);padding: 0; }
div.@a8657@df-kotasurabaya@g::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12893@gameicons-delapouite@lighthouse {max-width:75px; max-height:75px; }
.@b12893@gameicons-delapouite@lighthouse::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/l/lighthouse/0.png/0.png);padding: 0; }
div.@b12893@gameicons-delapouite@lighthouse::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d3292@wikim-all@meuble_huuuc3uuua9raldique_phare {max-width:75px; max-height:75px; }
.@d3292@wikim-all@meuble_huuuc3uuua9raldique_phare::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/l/lighthouse/0.png/0.png);padding: 0; }
div.@d3292@wikim-all@meuble_huuuc3uuua9raldique_phare::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:dc3350f9d573d75fc8aa8051fc6c11bb:3a08060fa54f5685c8ecd3044750cd11:4ddb42793a59c1b7bfff1539dfc4d068$ */
