/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15488@em2@taurus {max-width:75px; max-height:75px; }
.@a15488@em2@taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.25839793281653745% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a15488@em2@taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16864@emo@taurus {max-width:75px; max-height:75px; }
.@a16864@emo@taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 10.20671834625323% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a16864@emo@taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a18059@fir@u2649-taurus {max-width:75px; max-height:75px; }
.@a18059@fir@u2649-taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 20.155038759689923% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a18059@fir@u2649-taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a31099@lin@taurus {max-width:75px; max-height:75px; }
.@a31099@lin@taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 30.103359173126616% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a31099@lin@taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40206@noc@taurus {max-width:75px; max-height:75px; }
.@a40206@noc@taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 40.05167958656331% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a40206@noc@taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a43692@nog@taurus-symbols {max-width:75px; max-height:75px; }
.@a43692@nog@taurus-symbols::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a43692@nog@taurus-symbols::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44789@not@taurus {max-width:75px; max-height:75px; }
.@a44789@not@taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 59.94832041343669% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a44789@not@taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51654@twe@taurus {max-width:75px; max-height:75px; }
.@a51654@twe@taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 69.89664082687338% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a51654@twe@taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a56226@web@zodiac-taurus {max-width:75px; max-height:75px; }
.@a56226@web@zodiac-taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 79.84496124031008% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a56226@web@zodiac-taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59523@ian@bos-primigenius-taurus {max-width:75px; max-height:75px; }
.@a59523@ian@bos-primigenius-taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 89.79328165374677% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@a59523@ian@bos-primigenius-taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13464@gameicons-delapouite@taurus {max-width:75px; max-height:75px; }
.@b13464@gameicons-delapouite@taurus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.74160206718346% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/t/taurus/0.png/0.png);padding: 0; }
div.@b13464@gameicons-delapouite@taurus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:da9c2079604ff5c45bf271d382ad0e7f:289e205ce9323b5fb55c3675dd63487a:4ddb42793a59c1b7bfff1539dfc4d068$ */
