/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a37814@mul@gravy-pour-to {max-width:75px; max-height:75px; }
.@a37814@mul@gravy-pour-to::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/g/gravy_pour_to/0.png/0.png);padding: 0; }
div.@a37814@mul@gravy-pour-to::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:5c248210f7085e9bc7ff78ab13c66e93:d0f39a28dc373a0e3bcc4f1fa45a0394:4ddb42793a59c1b7bfff1539dfc4d068$ */
