/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a26235@her@flanchy {max-width:75px; max-height:75px; }
.@a26235@her@flanchy::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/f/flanchy/0.png/0.png);padding: 0; }
div.@a26235@her@flanchy::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:bade1c8ae4151e3d129aefbbde2987e7:396598d094d3de330d5bfa3326817407:4ddb42793a59c1b7bfff1539dfc4d068$ */
