/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a54066@wav@clone {max-width:75px; max-height:75px; }
.@a54066@wav@clone::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/c/clone/0.png/0.png);padding: 0; }
div.@a54066@wav@clone::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a699@awe@clone {max-width:75px; max-height:75px; }
.@a699@awe@clone::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/c/clone/0.png/0.png);padding: 0; }
div.@a699@awe@clone::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:5c6916fc36f0edb934706a6b0b4dde08:381e3b8cb1d4b1648a5f967f2a0de44d:4ddb42793a59c1b7bfff1539dfc4d068$ */
