/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2291@bon@saucepan-2552 {max-width:75px; max-height:75px; }
.@a2291@bon@saucepan-2552::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/s/saucepan/0.png/0.png);padding: 0; }
div.@a2291@bon@saucepan-2552::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2292@bon@saucepan-small-2553 {max-width:75px; max-height:75px; }
.@a2292@bon@saucepan-small-2553::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/s/saucepan/0.png/0.png);padding: 0; }
div.@a2292@bon@saucepan-small-2553::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38653@mul@saucepan {max-width:75px; max-height:75px; }
.@a38653@mul@saucepan::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/s/saucepan/0.png/0.png);padding: 0; }
div.@a38653@mul@saucepan::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:441a9543ca43529be3aa99f90bbe6c13:d0f2fbe72446433a45cb2deeac87cc9d:4ddb42793a59c1b7bfff1539dfc4d068$ */
