/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14822@em2@dango {max-width:75px; max-height:75px; }
.@a14822@em2@dango::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@a14822@em2@dango::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15905@emo@dango {max-width:75px; max-height:75px; }
.@a15905@emo@dango::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@a15905@emo@dango::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17256@fir@u1f361-dango {max-width:75px; max-height:75px; }
.@a17256@fir@u1f361-dango::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@a17256@fir@u1f361-dango::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28318@jqe@dango {max-width:75px; max-height:75px; }
.@a28318@jqe@dango::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@a28318@jqe@dango::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39521@noc@dango {max-width:75px; max-height:75px; }
.@a39521@noc@dango::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@a39521@noc@dango::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a41306@nog@dango-food-drink {max-width:75px; max-height:75px; }
.@a41306@nog@dango-food-drink::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@a41306@nog@dango-food-drink::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44263@not@dango {max-width:75px; max-height:75px; }
.@a44263@not@dango::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@a44263@not@dango::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50355@tw2@dango {max-width:75px; max-height:75px; }
.@a50355@tw2@dango::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@a50355@tw2@dango::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12474@gameicons-delapouite@dango {max-width:75px; max-height:75px; }
.@b12474@gameicons-delapouite@dango::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/d/dango/0.png/0.png);padding: 0; }
div.@b12474@gameicons-delapouite@dango::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:65a3bb0c89e1e5abb54a68edb8acf036:89b8f5ea5789c957d9dbae65a3487ccc:4ddb42793a59c1b7bfff1539dfc4d068$ */
