/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b15209@gameicons-sbed@poison-cloud {max-width:75px; max-height:75px; }
.@b15209@gameicons-sbed@poison-cloud::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/p/poison_cloud/0.png/0.png);padding: 0; }
div.@b15209@gameicons-sbed@poison-cloud::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:1e63867fcf8ad764484b05de06b46414:bad4476a43b3f7f09ef1a1d046bd42ee:4ddb42793a59c1b7bfff1539dfc4d068$ */
