/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12068@gameicons-cathelineau@dreadnought {max-width:75px; max-height:75px; }
.@b12068@gameicons-cathelineau@dreadnought::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/d/dreadnought/0.png/0.png);padding: 0; }
div.@b12068@gameicons-cathelineau@dreadnought::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:97c08a15e2c2371c244b7360939a5d72:9399c7105df6bc034b9a775aba5ae698:4ddb42793a59c1b7bfff1539dfc4d068$ */
