/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61457@ian@river-3d-comparison-healthy-vs-eutrophic {max-width:75px; max-height:75px; }
.@a61457@ian@river-3d-comparison-healthy-vs-eutrophic::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/e/eutrophic/0.png/0.png);padding: 0; }
div.@a61457@ian@river-3d-comparison-healthy-vs-eutrophic::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61711@ian@stream-3d-healthy {max-width:75px; max-height:75px; }
.@a61711@ian@stream-3d-healthy::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/e/eutrophic/0.png/0.png);padding: 0; }
div.@a61711@ian@stream-3d-healthy::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61715@ian@stream-3d-unhealthy {max-width:75px; max-height:75px; }
.@a61715@ian@stream-3d-unhealthy::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/e/eutrophic/0.png/0.png);padding: 0; }
div.@a61715@ian@stream-3d-unhealthy::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:9ee822746145937d769414cc29c4e468:aa3e861b4dc43f2e705d3fed7648c82d:4ddb42793a59c1b7bfff1539dfc4d068$ */
