/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12369@gameicons-delapouite@chat-bubble {max-width:75px; max-height:75px; }
.@b12369@gameicons-delapouite@chat-bubble::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/chat_bubble/0.png/0.png);padding: 0; }
div.@b12369@gameicons-delapouite@chat-bubble::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:7b0a558b3653054414ad3297d82b9dd1:0d01ee30f0b5a6d745ff2ef20ee6d7d0:4ddb42793a59c1b7bfff1539dfc4d068$ */
