/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12216@gameicons-delapouite@barricade {max-width:75px; max-height:75px; }
.@b12216@gameicons-delapouite@barricade::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/b/barricade/0.png/0.png);padding: 0; }
div.@b12216@gameicons-delapouite@barricade::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:0d32f3945c43f985b6d884e2b69ef677:e1030dfc147c44a0cb444d4bae1935dd:4ddb42793a59c1b7bfff1539dfc4d068$ */
