/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14816@em2@curry-and-rice {max-width:75px; max-height:75px; }
.@a14816@em2@curry-and-rice::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a14816@em2@curry-and-rice::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15898@emo@curry {max-width:75px; max-height:75px; }
.@a15898@emo@curry::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a15898@emo@curry::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17250@fir@u1f35b-curryandrice {max-width:75px; max-height:75px; }
.@a17250@fir@u1f35b-curryandrice::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a17250@fir@u1f35b-curryandrice::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28312@jqe@curry-and-rice {max-width:75px; max-height:75px; }
.@a28312@jqe@curry-and-rice::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a28312@jqe@curry-and-rice::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37174@mul@curry {max-width:75px; max-height:75px; }
.@a37174@mul@curry::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a37174@mul@curry::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39515@noc@curry-and-rice {max-width:75px; max-height:75px; }
.@a39515@noc@curry-and-rice::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a39515@noc@curry-and-rice::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a41283@nog@curry-rice-food-drink {max-width:75px; max-height:75px; }
.@a41283@nog@curry-rice-food-drink::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a41283@nog@curry-rice-food-drink::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44258@not@curry-and-rice {max-width:75px; max-height:75px; }
.@a44258@not@curry-and-rice::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a44258@not@curry-and-rice::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50351@tw2@curry-and-rice {max-width:75px; max-height:75px; }
.@a50351@tw2@curry-and-rice::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/curry/0.png/0.png);padding: 0; }
div.@a50351@tw2@curry-and-rice::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:18307882c67b325d7f40917b520df920:afa1884687d857c666175afc0af518af:4ddb42793a59c1b7bfff1539dfc4d068$ */
