/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1080@awe@user-secret {max-width:75px; max-height:75px; }
.@a1080@awe@user-secret::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/s/secret/0.png/0.png);padding: 0; }
div.@a1080@awe@user-secret::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13278@gameicons-delapouite@secret-book {max-width:75px; max-height:75px; }
.@b13278@gameicons-delapouite@secret-book::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/s/secret/0.png/0.png);padding: 0; }
div.@b13278@gameicons-delapouite@secret-book::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:73642332c75cd57ea12316258ca64f2b:8025502a833ccecbd37abd6bf8d2bcd1:4ddb42793a59c1b7bfff1539dfc4d068$ */
