/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1716@bon@danger-gas-6254 {max-width:75px; max-height:75px; }
.@a1716@bon@danger-gas-6254::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.21551724137931033% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a1716@bon@danger-gas-6254::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60061@ian@drip-torch {max-width:75px; max-height:75px; }
.@a60061@ian@drip-torch::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 8.512931034482758% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a60061@ian@drip-torch::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60191@ian@exchange-gas {max-width:75px; max-height:75px; }
.@a60191@ian@exchange-gas::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 16.810344827586206% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a60191@ian@exchange-gas::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60302@ian@flux-gas {max-width:75px; max-height:75px; }
.@a60302@ian@flux-gas::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.107758620689655% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a60302@ian@flux-gas::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60353@ian@gas-pump {max-width:75px; max-height:75px; }
.@a60353@ian@gas-pump::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.4051724137931% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a60353@ian@gas-pump::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60568@ian@inputs-gas {max-width:75px; max-height:75px; }
.@a60568@ian@inputs-gas::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 41.702586206896555% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a60568@ian@inputs-gas::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60686@ian@licor-profiler-unispec-spectrometer {max-width:75px; max-height:75px; }
.@a60686@ian@licor-profiler-unispec-spectrometer::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a60686@ian@licor-profiler-unispec-spectrometer::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61769@ian@tap {max-width:75px; max-height:75px; }
.@a61769@ian@tap::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 58.297413793103445% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a61769@ian@tap::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61831@ian@transport-gas {max-width:75px; max-height:75px; }
.@a61831@ian@transport-gas::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.59482758620689% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@a61831@ian@transport-gas::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12679@gameicons-delapouite@gas-pump {max-width:75px; max-height:75px; }
.@b12679@gameicons-delapouite@gas-pump::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.89224137931035% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@b12679@gameicons-delapouite@gas-pump::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14240@gameicons-lorc@gas-mask {max-width:75px; max-height:75px; }
.@b14240@gameicons-lorc@gas-mask::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 83.1896551724138% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@b14240@gameicons-lorc@gas-mask::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14613@gameicons-lorc@poison-gas {max-width:75px; max-height:75px; }
.@b14613@gameicons-lorc@poison-gas::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 91.48706896551724% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@b14613@gameicons-lorc@poison-gas::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b15311@gameicons-skoll@gas-mask {max-width:75px; max-height:75px; }
.@b15311@gameicons-skoll@gas-mask::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.78448275862068% 50%;background-size: 1337.3333333333333% 105.33333333333333%;background-image: url(./textures/g/gas/0.png/0.png);padding: 0; }
div.@b15311@gameicons-skoll@gas-mask::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:42215e3a2f7aed115ab7ef69e938f595:998fa9f3af3a7f1d255ecc2017f89e1f:4ddb42793a59c1b7bfff1539dfc4d068$ */
