/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a13632@df-xmastfbchristmas@1221 {max-width:75px; max-height:75px; }
.@a13632@df-xmastfbchristmas@1221::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/candy_cane/0.png/0.png);padding: 0; }
div.@a13632@df-xmastfbchristmas@1221::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a13649@df-xmastfbchristmas@2014 {max-width:75px; max-height:75px; }
.@a13649@df-xmastfbchristmas@2014::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/candy_cane/0.png/0.png);padding: 0; }
div.@a13649@df-xmastfbchristmas@2014::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a36750@mul@candy-cane {max-width:75px; max-height:75px; }
.@a36750@mul@candy-cane::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/candy_cane/0.png/0.png);padding: 0; }
div.@a36750@mul@candy-cane::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a5217@df-christmasicons@less {max-width:75px; max-height:75px; }
.@a5217@df-christmasicons@less::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/candy_cane/0.png/0.png);padding: 0; }
div.@a5217@df-christmasicons@less::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a8433@df-journaldingbats4@braceleft {max-width:75px; max-height:75px; }
.@a8433@df-journaldingbats4@braceleft::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/candy_cane/0.png/0.png);padding: 0; }
div.@a8433@df-journaldingbats4@braceleft::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a8489@df-journaldingbats4@y {max-width:75px; max-height:75px; }
.@a8489@df-journaldingbats4@y::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/candy_cane/0.png/0.png);padding: 0; }
div.@a8489@df-journaldingbats4@y::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a8490@df-journaldingbats4@z {max-width:75px; max-height:75px; }
.@a8490@df-journaldingbats4@z::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/c/candy_cane/0.png/0.png);padding: 0; }
div.@a8490@df-journaldingbats4@z::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:8605e22c562e1707be6e6d270a4eed4b:d3805088b95f8bac73c74fa58ec61baa:4ddb42793a59c1b7bfff1539dfc4d068$ */
