/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61720@ian@strymon-melinus {max-width:75px; max-height:75px; }
.@a61720@ian@strymon-melinus::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/s/strymon/0.png/0.png);padding: 0; }
div.@a61720@ian@strymon-melinus::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:100d17491e8f5cf8a6eeface5351878b:195566c5e88203c37f587967e823b0c4:4ddb42793a59c1b7bfff1539dfc4d068$ */
