/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16955@emo@vulcan {max-width:75px; max-height:75px; }
.@a16955@emo@vulcan::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/fingers_parted/0.png/0.png);padding: 0; }
div.@a16955@emo@vulcan::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28711@jqe@raised-hand-with-part-between-middle-and-ring-fingers {max-width:75px; max-height:75px; }
.@a28711@jqe@raised-hand-with-part-between-middle-and-ring-fingers::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/fingers_parted/0.png/0.png);padding: 0; }
div.@a28711@jqe@raised-hand-with-part-between-middle-and-ring-fingers::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40041@noc@raised-hand-w-part-between-middle-and-ring-fingers-m-f-1-2 {max-width:75px; max-height:75px; }
.@a40041@noc@raised-hand-w-part-between-middle-and-ring-fingers-m-f-1-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/fingers_parted/0.png/0.png);padding: 0; }
div.@a40041@noc@raised-hand-w-part-between-middle-and-ring-fingers-m-f-1-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a43183@nog@raised-hand-part-between-middle-ring-fingers-smileys-people {max-width:75px; max-height:75px; }
.@a43183@nog@raised-hand-part-between-middle-ring-fingers-smileys-people::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/fingers_parted/0.png/0.png);padding: 0; }
div.@a43183@nog@raised-hand-part-between-middle-ring-fingers-smileys-people::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49437@str@366-vulcan-salute-2 {max-width:75px; max-height:75px; }
.@a49437@str@366-vulcan-salute-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/fingers_parted/0.png/0.png);padding: 0; }
div.@a49437@str@366-vulcan-salute-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50801@tw2@raised-hand-with-part-between-middle-and-ring-fingers-3 {max-width:75px; max-height:75px; }
.@a50801@tw2@raised-hand-with-part-between-middle-and-ring-fingers-3::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/f/fingers_parted/0.png/0.png);padding: 0; }
div.@a50801@tw2@raised-hand-with-part-between-middle-and-ring-fingers-3::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:cc7ed07921da8346677277443b819bc0:62ce35c08f00bc4ec9cd2f33321d01e5:4ddb42793a59c1b7bfff1539dfc4d068$ */
