/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b14878@gameicons-lorc@stitched-wound {max-width:75px; max-height:75px; }
.@b14878@gameicons-lorc@stitched-wound::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/s/stitched/0.png/0.png);padding: 0; }
div.@b14878@gameicons-lorc@stitched-wound::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:77e6fdf9e1c8a6ac50d68d3872e715b4:0bbbcdab9779c61d3d13c9273d2d0ed0:4ddb42793a59c1b7bfff1539dfc4d068$ */
