/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61758@ian@sydney-opera-house {max-width:75px; max-height:75px; }
.@a61758@ian@sydney-opera-house::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/o/opera/0.png/0.png);padding: 0; }
div.@a61758@ian@sydney-opera-house::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:98389f807a2e25551a3f0a33db4a6b66:e436d8707412d41e11f12ab1785d11b3:4ddb42793a59c1b7bfff1539dfc4d068$ */
