/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12688@gameicons-delapouite@glass-ball {max-width:75px; max-height:75px; }
.@b12688@gameicons-delapouite@glass-ball::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/g/glass_ball/0.png/0.png);padding: 0; }
div.@b12688@gameicons-delapouite@glass-ball::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:693da4b4ae70d6cc9ec9b72e42a87385:95354e31bd8ca7d9f08c09504b800707:4ddb42793a59c1b7bfff1539dfc4d068$ */
