/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a25423@gli@crate {max-width:75px; max-height:75px; }
.@a25423@gli@crate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/crate/0.png/0.png);padding: 0; }
div.@a25423@gli@crate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a29513@knl@box-crate-2 {max-width:75px; max-height:75px; }
.@a29513@knl@box-crate-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/crate/0.png/0.png);padding: 0; }
div.@a29513@knl@box-crate-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a29514@knl@box-crate-3 {max-width:75px; max-height:75px; }
.@a29514@knl@box-crate-3::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/crate/0.png/0.png);padding: 0; }
div.@a29514@knl@box-crate-3::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a29808@knl@sign-2 {max-width:75px; max-height:75px; }
.@a29808@knl@sign-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/crate/0.png/0.png);padding: 0; }
div.@a29808@knl@sign-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12347@gameicons-delapouite@cargo-crate {max-width:75px; max-height:75px; }
.@b12347@gameicons-delapouite@cargo-crate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/crate/0.png/0.png);padding: 0; }
div.@b12347@gameicons-delapouite@cargo-crate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13652@gameicons-delapouite@wooden-crate {max-width:75px; max-height:75px; }
.@b13652@gameicons-delapouite@wooden-crate::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/c/crate/0.png/0.png);padding: 0; }
div.@b13652@gameicons-delapouite@wooden-crate::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:080fc892ebca1f6f0f73b48d352bdbeb:6b346d03328a9d9fe2e71878bcf05a5c:4ddb42793a59c1b7bfff1539dfc4d068$ */
