/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14605@em2@aries {max-width:75px; max-height:75px; }
.@a14605@em2@aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a14605@em2@aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a15644@emo@aries {max-width:75px; max-height:75px; }
.@a15644@emo@aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a15644@emo@aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a18058@fir@u2648-aries {max-width:75px; max-height:75px; }
.@a18058@fir@u2648-aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a18058@fir@u2648-aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a30471@lin@aries {max-width:75px; max-height:75px; }
.@a30471@lin@aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a30471@lin@aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39288@noc@aries {max-width:75px; max-height:75px; }
.@a39288@noc@aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a39288@noc@aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40426@nog@aries-symbols {max-width:75px; max-height:75px; }
.@a40426@nog@aries-symbols::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a40426@nog@aries-symbols::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44074@not@aries {max-width:75px; max-height:75px; }
.@a44074@not@aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a44074@not@aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51056@twe@aries {max-width:75px; max-height:75px; }
.@a51056@twe@aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a51056@twe@aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a56217@web@zodiac-aries {max-width:75px; max-height:75px; }
.@a56217@web@zodiac-aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@a56217@web@zodiac-aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12165@gameicons-delapouite@aries {max-width:75px; max-height:75px; }
.@b12165@gameicons-delapouite@aries::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/a/aries/0.png/0.png);padding: 0; }
div.@b12165@gameicons-delapouite@aries::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:97783435ee33817d43191d258ee3841a:2729de67f439d8fa1bae084d27209888:4ddb42793a59c1b7bfff1539dfc4d068$ */
