/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12697@gameicons-delapouite@golem-head {max-width:75px; max-height:75px; }
.@b12697@gameicons-delapouite@golem-head::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/g/golem_head/0.png/0.png);padding: 0; }
div.@b12697@gameicons-delapouite@golem-head::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:a9433840c46f1f0ce2f18bacc2305640:ae465cfaf93d642565c717624f84966a:4ddb42793a59c1b7bfff1539dfc4d068$ */
