/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b15038@gameicons-lorc@unlit-candelabra {max-width:75px; max-height:75px; }
.@b15038@gameicons-lorc@unlit-candelabra::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/u/unlit/0.png/0.png);padding: 0; }
div.@b15038@gameicons-lorc@unlit-candelabra::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:e48d730f2d15bfe089a886b6d183dc9d:59fbce6433f6086ef3ce8aa11dbc70ed:4ddb42793a59c1b7bfff1539dfc4d068$ */
