/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61947@ian@usa-ca-san-diego-bay {max-width:75px; max-height:75px; }
.@a61947@ian@usa-ca-san-diego-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/san/0.png/0.png);padding: 0; }
div.@a61947@ian@usa-ca-san-diego-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61948@ian@usa-ca-san-francisco-bay {max-width:75px; max-height:75px; }
.@a61948@ian@usa-ca-san-francisco-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/san/0.png/0.png);padding: 0; }
div.@a61948@ian@usa-ca-san-francisco-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61949@ian@usa-ca-san-francisco-san-pablo-suisan-bays {max-width:75px; max-height:75px; }
.@a61949@ian@usa-ca-san-francisco-san-pablo-suisan-bays::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/san/0.png/0.png);padding: 0; }
div.@a61949@ian@usa-ca-san-francisco-san-pablo-suisan-bays::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61950@ian@usa-ca-san-pedro-bay {max-width:75px; max-height:75px; }
.@a61950@ian@usa-ca-san-pedro-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/san/0.png/0.png);padding: 0; }
div.@a61950@ian@usa-ca-san-pedro-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61968@ian@usa-fl-caloosahatchee-river {max-width:75px; max-height:75px; }
.@a61968@ian@usa-fl-caloosahatchee-river::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/san/0.png/0.png);padding: 0; }
div.@a61968@ian@usa-fl-caloosahatchee-river::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a62109@ian@usa-tx-aransas-bay {max-width:75px; max-height:75px; }
.@a62109@ian@usa-tx-aransas-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/san/0.png/0.png);padding: 0; }
div.@a62109@ian@usa-tx-aransas-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a62113@ian@usa-tx-galveston-bay {max-width:75px; max-height:75px; }
.@a62113@ian@usa-tx-galveston-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/san/0.png/0.png);padding: 0; }
div.@a62113@ian@usa-tx-galveston-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a62117@ian@usa-tx-san-antonio-bay {max-width:75px; max-height:75px; }
.@a62117@ian@usa-tx-san-antonio-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/s/san/0.png/0.png);padding: 0; }
div.@a62117@ian@usa-tx-san-antonio-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:1b1f0674f07660e1f3e5eee5130a055c:c63fb4b4eec44d7f67f8b6300e8abf7d:4ddb42793a59c1b7bfff1539dfc4d068$ */
