/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a26423@her@lion-couchant {max-width:75px; max-height:75px; }
.@a26423@her@lion-couchant::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26423@her@lion-couchant::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26424@her@lion-coward-dormant {max-width:75px; max-height:75px; }
.@a26424@her@lion-coward-dormant::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26424@her@lion-coward-dormant::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26425@her@lion-of-st-mark-salient {max-width:75px; max-height:75px; }
.@a26425@her@lion-of-st-mark-salient::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26425@her@lion-of-st-mark-salient::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26426@her@lion-passant {max-width:75px; max-height:75px; }
.@a26426@her@lion-passant::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26426@her@lion-passant::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26427@her@lion-rampant-2 {max-width:75px; max-height:75px; }
.@a26427@her@lion-rampant-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26427@her@lion-rampant-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26428@her@lion-rampant-queue-forchy {max-width:75px; max-height:75px; }
.@a26428@her@lion-rampant-queue-forchy::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26428@her@lion-rampant-queue-forchy::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26429@her@lion-rampant {max-width:75px; max-height:75px; }
.@a26429@her@lion-rampant::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26429@her@lion-rampant::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26430@her@lions-jambe {max-width:75px; max-height:75px; }
.@a26430@her@lions-jambe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26430@her@lions-jambe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a26520@her@sea-lion-erect {max-width:75px; max-height:75px; }
.@a26520@her@sea-lion-erect::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a26520@her@sea-lion-erect::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38078@mul@lion {max-width:75px; max-height:75px; }
.@a38078@mul@lion::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a38078@mul@lion::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a45086@oa1@lion-2 {max-width:75px; max-height:75px; }
.@a45086@oa1@lion-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a45086@oa1@lion-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a45918@ope@studiofibonacci_cartoon_lion {max-width:75px; max-height:75px; }
.@a45918@ope@studiofibonacci_cartoon_lion::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a45918@ope@studiofibonacci_cartoon_lion::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50590@tw2@lion {max-width:75px; max-height:75px; }
.@a50590@tw2@lion::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a50590@tw2@lion::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61105@ian@panthera-leo-male {max-width:75px; max-height:75px; }
.@a61105@ian@panthera-leo-male::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a61105@ian@panthera-leo-male::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61340@ian@puma-concolor {max-width:75px; max-height:75px; }
.@a61340@ian@puma-concolor::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/l/lion/0.png/0.png);padding: 0; }
div.@a61340@ian@puma-concolor::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:d22ced269de83790c73e8023f98efa81:16ccd01995bd1a75f4e281cdc31bacab:4ddb42793a59c1b7bfff1539dfc4d068$ */
