/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12275@gameicons-delapouite@bouncing-spring {max-width:75px; max-height:75px; }
.@b12275@gameicons-delapouite@bouncing-spring::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/b/bouncing/0.png/0.png);padding: 0; }
div.@b12275@gameicons-delapouite@bouncing-spring::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13834@gameicons-lorc@bouncing-sword {max-width:75px; max-height:75px; }
.@b13834@gameicons-lorc@bouncing-sword::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/b/bouncing/0.png/0.png);padding: 0; }
div.@b13834@gameicons-lorc@bouncing-sword::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:e4c0279414ce06e0d599a7fe525cb319:fba8a5ba5c5ce4b7a433cddca4dca435:4ddb42793a59c1b7bfff1539dfc4d068$ */
