/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a26509@her@salamander-natural-rampant {max-width:75px; max-height:75px; }
.@a26509@her@salamander-natural-rampant::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/s/salamander_natural_rampant/0.png/0.png);padding: 0; }
div.@a26509@her@salamander-natural-rampant::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:c3102f5fcc719e3609f95e246a2da236:9aa0d61e207a7e0014715d2876dbf686:4ddb42793a59c1b7bfff1539dfc4d068$ */
