/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16177@emo@nf {max-width:75px; max-height:75px; }
.@a16177@emo@nf::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/n/norfolk_island/0.png/0.png);padding: 0; }
div.@a16177@emo@nf::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d2019@wikim-all@coat_of_arms_of_norfolk_island {max-width:75px; max-height:75px; }
.@d2019@wikim-all@coat_of_arms_of_norfolk_island::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/n/norfolk_island/0.png/0.png);padding: 0; }
div.@d2019@wikim-all@coat_of_arms_of_norfolk_island::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:d7dcc2ed9efad3104e977812a52db1f5:98d359001314a3c0a7b718ebba24f9ba:4ddb42793a59c1b7bfff1539dfc4d068$ */
