/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a13150@df-wcmusicabta@1334 {max-width:75px; max-height:75px; }
.@a13150@df-wcmusicabta@1334::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/t/trombone/0.png/0.png);padding: 0; }
div.@a13150@df-wcmusicabta@1334::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a13300@df-wcmusicabta@2385 {max-width:75px; max-height:75px; }
.@a13300@df-wcmusicabta@2385::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/t/trombone/0.png/0.png);padding: 0; }
div.@a13300@df-wcmusicabta@2385::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a13339@df-wcmusicabta@2692 {max-width:75px; max-height:75px; }
.@a13339@df-wcmusicabta@2692::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/t/trombone/0.png/0.png);padding: 0; }
div.@a13339@df-wcmusicabta@2692::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a13425@df-wcmusicabta@757 {max-width:75px; max-height:75px; }
.@a13425@df-wcmusicabta@757::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/t/trombone/0.png/0.png);padding: 0; }
div.@a13425@df-wcmusicabta@757::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:0ce8600c3577154707cee32467fe5f4f:349c23a81a35263b889d4fd3143b6d32:4ddb42793a59c1b7bfff1539dfc4d068$ */
