/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12682@gameicons-delapouite@gauntlet {max-width:75px; max-height:75px; }
.@b12682@gameicons-delapouite@gauntlet::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/g/gauntlet/0.png/0.png);padding: 0; }
div.@b12682@gameicons-delapouite@gauntlet::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:906d27ce05817e4adbc45ee73dbe178a:3d713ccad893ddf6eb0660b2a3f4b09b:4ddb42793a59c1b7bfff1539dfc4d068$ */
