/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b14854@gameicons-lorc@square-bottle {max-width:75px; max-height:75px; }
.@b14854@gameicons-lorc@square-bottle::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/s/square_bottle/0.png/0.png);padding: 0; }
div.@b14854@gameicons-lorc@square-bottle::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:ddff4d6e74b9269fedf469c22ce3f8e4:30744627a80bab23d532a378325c0de8:4ddb42793a59c1b7bfff1539dfc4d068$ */
