/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@d4634@wikim-sodacan@privy_seal_of_king_rama_i_uuu28buddha_yodfa_chulalokeuuu29 {max-width:75px; max-height:75px; }
.@d4634@wikim-sodacan@privy_seal_of_king_rama_i_uuu28buddha_yodfa_chulalokeuuu29::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/c/chakri_dynasty/0.png/0.png);padding: 0; }
div.@d4634@wikim-sodacan@privy_seal_of_king_rama_i_uuu28buddha_yodfa_chulalokeuuu29::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4635@wikim-sodacan@privy_seal_of_king_rama_iii_uuu28jessadabodindrauuu29 {max-width:75px; max-height:75px; }
.@d4635@wikim-sodacan@privy_seal_of_king_rama_iii_uuu28jessadabodindrauuu29::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/c/chakri_dynasty/0.png/0.png);padding: 0; }
div.@d4635@wikim-sodacan@privy_seal_of_king_rama_iii_uuu28jessadabodindrauuu29::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4636@wikim-sodacan@privy_seal_of_king_rama_ix_uuu28bhumibol_adulyadejuuu29 {max-width:75px; max-height:75px; }
.@d4636@wikim-sodacan@privy_seal_of_king_rama_ix_uuu28bhumibol_adulyadejuuu29::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/c/chakri_dynasty/0.png/0.png);padding: 0; }
div.@d4636@wikim-sodacan@privy_seal_of_king_rama_ix_uuu28bhumibol_adulyadejuuu29::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d4637@wikim-sodacan@privy_seal_of_king_rama_viii_uuu28ananda_mahidoluuu29 {max-width:75px; max-height:75px; }
.@d4637@wikim-sodacan@privy_seal_of_king_rama_viii_uuu28ananda_mahidoluuu29::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/c/chakri_dynasty/0.png/0.png);padding: 0; }
div.@d4637@wikim-sodacan@privy_seal_of_king_rama_viii_uuu28ananda_mahidoluuu29::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:24eec02d5f373bad1728d2d7941f3a8e:ea5de440ca618b4ecb4ee1f3f56c86b1:4ddb42793a59c1b7bfff1539dfc4d068$ */
