/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60263@ian@first-nations-management-canada {max-width:75px; max-height:75px; }
.@a60263@ian@first-nations-management-canada::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/t/treaty/0.png/0.png);padding: 0; }
div.@a60263@ian@first-nations-management-canada::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60550@ian@indigenous-management-united-states {max-width:75px; max-height:75px; }
.@a60550@ian@indigenous-management-united-states::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/t/treaty/0.png/0.png);padding: 0; }
div.@a60550@ian@indigenous-management-united-states::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60630@ian@kyoto-protocol {max-width:75px; max-height:75px; }
.@a60630@ian@kyoto-protocol::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/t/treaty/0.png/0.png);padding: 0; }
div.@a60630@ian@kyoto-protocol::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:43f5c5e50f086fad85b15d6e17ec40c7:cc7921c061ed74fa1b734de2e4e66284:4ddb42793a59c1b7bfff1539dfc4d068$ */
