/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14449@ele@group {max-width:75px; max-height:75px; }
.@a14449@ele@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a14449@ele@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a27567@icf@group {max-width:75px; max-height:75px; }
.@a27567@icf@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a27567@icf@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a27992@ico@group {max-width:75px; max-height:75px; }
.@a27992@ico@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a27992@ico@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a29085@jqu@group {max-width:75px; max-height:75px; }
.@a29085@jqu@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a29085@jqu@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a33901@mat@group {max-width:75px; max-height:75px; }
.@a33901@mat@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a33901@mat@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a52006@typ@group {max-width:75px; max-height:75px; }
.@a52006@typ@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a52006@typ@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a53289@vaa@group {max-width:75px; max-height:75px; }
.@a53289@vaa@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a53289@vaa@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a54310@wav@group {max-width:75px; max-height:75px; }
.@a54310@wav@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a54310@wav@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a56670@win@group {max-width:75px; max-height:75px; }
.@a56670@win@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a56670@win@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a910@awe@object-group {max-width:75px; max-height:75px; }
.@a910@awe@object-group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/o/object_group/0.png/0.png);padding: 0; }
div.@a910@awe@object-group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:320ac94e2ec722510a61c53d97b14d2f:6b23e53c7b13d6eb23b42b6b367e9d4b:4ddb42793a59c1b7bfff1539dfc4d068$ */
