/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@d1047@mutcd@panama_1349 {max-width:75px; max-height:75px; }
.@d1047@mutcd@panama_1349::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d1047@mutcd@panama_1349::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1205@mutcd@philippines_1350 {max-width:75px; max-height:75px; }
.@d1205@mutcd@philippines_1350::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d1205@mutcd@philippines_1350::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1282@mutcd@thailand_1351 {max-width:75px; max-height:75px; }
.@d1282@mutcd@thailand_1351::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d1282@mutcd@thailand_1351::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1411@mutcd@united_states_1352 {max-width:75px; max-height:75px; }
.@d1411@mutcd@united_states_1352::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d1411@mutcd@united_states_1352::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d1456@mutcd@uruguay_1353 {max-width:75px; max-height:75px; }
.@d1456@mutcd@uruguay_1353::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d1456@mutcd@uruguay_1353::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d188@mutcd@brazil_1344 {max-width:75px; max-height:75px; }
.@d188@mutcd@brazil_1344::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d188@mutcd@brazil_1344::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d21@mutcd@argentina_1343 {max-width:75px; max-height:75px; }
.@d21@mutcd@argentina_1343::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d21@mutcd@argentina_1343::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d526@mutcd@chile_1345 {max-width:75px; max-height:75px; }
.@d526@mutcd@chile_1345::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d526@mutcd@chile_1345::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d701@mutcd@ireland_1347 {max-width:75px; max-height:75px; }
.@d701@mutcd@ireland_1347::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d701@mutcd@ireland_1347::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@d897@mutcd@mexico_1348 {max-width:75px; max-height:75px; }
.@d897@mutcd@mexico_1348::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/t/turn_right/0.png/0.png);padding: 0; }
div.@d897@mutcd@mexico_1348::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:c822c5a5b65a9d8bd1eb58086761e321:ce8cf0d23c989eb700759a7d4f346307:4ddb42793a59c1b7bfff1539dfc4d068$ */
