/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a10799@df-pregnancy@1522 {max-width:75px; max-height:75px; }
.@a10799@df-pregnancy@1522::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/s/stroller/0.png/0.png);padding: 0; }
div.@a10799@df-pregnancy@1522::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10846@df-pregnancy@2633 {max-width:75px; max-height:75px; }
.@a10846@df-pregnancy@2633::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/s/stroller/0.png/0.png);padding: 0; }
div.@a10846@df-pregnancy@2633::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10858@df-pregnancy@2894 {max-width:75px; max-height:75px; }
.@a10858@df-pregnancy@2894::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/s/stroller/0.png/0.png);padding: 0; }
div.@a10858@df-pregnancy@2894::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10876@df-pregnancy@591 {max-width:75px; max-height:75px; }
.@a10876@df-pregnancy@591::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/s/stroller/0.png/0.png);padding: 0; }
div.@a10876@df-pregnancy@591::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a231@ara@baby-trolley {max-width:75px; max-height:75px; }
.@a231@ara@baby-trolley::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/s/stroller/0.png/0.png);padding: 0; }
div.@a231@ara@baby-trolley::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a32413@mat@baby-buggy {max-width:75px; max-height:75px; }
.@a32413@mat@baby-buggy::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/s/stroller/0.png/0.png);padding: 0; }
div.@a32413@mat@baby-buggy::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:96a13658ba5f3dd980b900b53920e82e:111d7b459d4c6c3c4385e4a2c23dace8:4ddb42793a59c1b7bfff1539dfc4d068$ */
