/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16235@emo@tk {max-width:75px; max-height:75px; }
.@a16235@emo@tk::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/t/tokelau/0.png/0.png);padding: 0; }
div.@a16235@emo@tk::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a37632@mul@tokelau {max-width:75px; max-height:75px; }
.@a37632@mul@tokelau::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/t/tokelau/0.png/0.png);padding: 0; }
div.@a37632@mul@tokelau::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:a15ad16f43ead4f33d1884f7c6acbeef:67d5ef08b42bd61be35e79c495cef253:4ddb42793a59c1b7bfff1539dfc4d068$ */
