/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16194@emo@pm {max-width:75px; max-height:75px; }
.@a16194@emo@pm::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/s/saint_pierre_and_miquelon/0.png/0.png);padding: 0; }
div.@a16194@emo@pm::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:ac4c8e632e3eca4249b14f1efb5f0659:2c330f0ea786b32ffdd2d10314c367f8:4ddb42793a59c1b7bfff1539dfc4d068$ */
