/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60887@ian@moerisia-spp {max-width:75px; max-height:75px; }
.@a60887@ian@moerisia-spp::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/h/hydrozoaanthoathecata/0.png/0.png);padding: 0; }
div.@a60887@ian@moerisia-spp::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:b9b05380bfed52ff7d1510463410bedc:4c66194f3c8f0bfdb46f949d4ed973b4:4ddb42793a59c1b7bfff1539dfc4d068$ */
