/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a16231@emo@tf {max-width:75px; max-height:75px; }
.@a16231@emo@tf::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/f/french_southern_and_antarctic_lands/0.png/0.png);padding: 0; }
div.@a16231@emo@tf::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:7fe906ebf4275d10331dd1813bd3c065:f48e95af70693af4b255137bb5d822bb:4ddb42793a59c1b7bfff1539dfc4d068$ */
