/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b14277@gameicons-lorc@grease-trap {max-width:75px; max-height:75px; }
.@b14277@gameicons-lorc@grease-trap::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/g/grease_trap/0.png/0.png);padding: 0; }
div.@b14277@gameicons-lorc@grease-trap::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:c235ad52b4e5ed068cb3bf823a9ae762:b5f8f9eacb9dd283ea2a40790c5a6af0:4ddb42793a59c1b7bfff1539dfc4d068$ */
