/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a14658@em2@billiards {max-width:75px; max-height:75px; }
.@a14658@em2@billiards::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a14658@em2@billiards::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17334@fir@u1f3b1-billiards {max-width:75px; max-height:75px; }
.@a17334@fir@u1f3b1-billiards::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a17334@fir@u1f3b1-billiards::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2205@bon@pool-room-bs-8501-9054 {max-width:75px; max-height:75px; }
.@a2205@bon@pool-room-bs-8501-9054::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 0.6410256410256411%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a2205@bon@pool-room-bs-8501-9054::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28198@jqe@billiards {max-width:75px; max-height:75px; }
.@a28198@jqe@billiards::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a28198@jqe@billiards::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38485@mul@pool-snooker {max-width:75px; max-height:75px; }
.@a38485@mul@pool-snooker::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a38485@mul@pool-snooker::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39339@noc@billiards {max-width:75px; max-height:75px; }
.@a39339@noc@billiards::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 25.32051282051282%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a39339@noc@billiards::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a40695@nog@billiards-activities {max-width:75px; max-height:75px; }
.@a40695@nog@billiards-activities::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a40695@nog@billiards-activities::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44118@not@billiards {max-width:75px; max-height:75px; }
.@a44118@not@billiards::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a44118@not@billiards::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49729@str@672-pool-8-ball {max-width:75px; max-height:75px; }
.@a49729@str@672-pool-8-ball::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a49729@str@672-pool-8-ball::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50222@tw2@billiards {max-width:75px; max-height:75px; }
.@a50222@tw2@billiards::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a50222@tw2@billiards::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51094@twe@billiards {max-width:75px; max-height:75px; }
.@a51094@twe@billiards::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a51094@twe@billiards::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a58629@baianet@group {max-width:75px; max-height:75px; }
.@a58629@baianet@group::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 74.67948717948718%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a58629@baianet@group::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61252@ian@pond {max-width:75px; max-height:75px; }
.@a61252@ian@pond::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a61252@ian@pond::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61253@ian@pond2 {max-width:75px; max-height:75px; }
.@a61253@ian@pond2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a61253@ian@pond2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a62081@ian@usa-me-saco-bay {max-width:75px; max-height:75px; }
.@a62081@ian@usa-me-saco-bay::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 99.35897435897436%;background-size: 310.6666666666667% 516%;background-image: url(./textures/p/pool/0.png/0.png);padding: 0; }
div.@a62081@ian@usa-me-saco-bay::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:96cac7fddc51c2500c8c7e820e072167:5bb08286551b8ca753a0f793a7434910:4ddb42793a59c1b7bfff1539dfc4d068$ */
