/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a59255@ian@acid-rain {max-width:75px; max-height:75px; }
.@a59255@ian@acid-rain::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a59255@ian@acid-rain::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59394@ian@asphalt-plant {max-width:75px; max-height:75px; }
.@a59394@ian@asphalt-plant::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a59394@ian@asphalt-plant::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60115@ian@energy-solar-panels-3 {max-width:75px; max-height:75px; }
.@a60115@ian@energy-solar-panels-3::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a60115@ian@energy-solar-panels-3::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60552@ian@industrial-building-1 {max-width:75px; max-height:75px; }
.@a60552@ian@industrial-building-1::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a60552@ian@industrial-building-1::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60553@ian@industrial-building-2 {max-width:75px; max-height:75px; }
.@a60553@ian@industrial-building-2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a60553@ian@industrial-building-2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60554@ian@industrial-building-3 {max-width:75px; max-height:75px; }
.@a60554@ian@industrial-building-3::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a60554@ian@industrial-building-3::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60555@ian@industrial-building-4 {max-width:75px; max-height:75px; }
.@a60555@ian@industrial-building-4::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a60555@ian@industrial-building-4::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60556@ian@industrial-park {max-width:75px; max-height:75px; }
.@a60556@ian@industrial-park::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a60556@ian@industrial-park::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60557@ian@industry {max-width:75px; max-height:75px; }
.@a60557@ian@industry::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a60557@ian@industry::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60558@ian@industry2 {max-width:75px; max-height:75px; }
.@a60558@ian@industry2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/i/industrial/0.png/0.png);padding: 0; }
div.@a60558@ian@industry2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:6adc4394efb2cf5046edefcbd8cbeb5c:6209c3e8f5892b7a7a738a25137af4a7:4ddb42793a59c1b7bfff1539dfc4d068$ */
