/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b12324@gameicons-delapouite@camargue-cross {max-width:75px; max-height:75px; }
.@b12324@gameicons-delapouite@camargue-cross::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/camargue/0.png/0.png);padding: 0; }
div.@b12324@gameicons-delapouite@camargue-cross::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:f7268a6c9eefa5989224cee415a30135:4c2618a8c62af2567f4ab566805af7b4:4ddb42793a59c1b7bfff1539dfc4d068$ */
