/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a59621@ian@castor-canadensis-dam {max-width:75px; max-height:75px; }
.@a59621@ian@castor-canadensis-dam::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/c/canadensis/0.png/0.png);padding: 0; }
div.@a59621@ian@castor-canadensis-dam::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59622@ian@castor-canadensis-hut {max-width:75px; max-height:75px; }
.@a59622@ian@castor-canadensis-hut::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/c/canadensis/0.png/0.png);padding: 0; }
div.@a59622@ian@castor-canadensis-hut::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59623@ian@castor-canadensis {max-width:75px; max-height:75px; }
.@a59623@ian@castor-canadensis::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/c/canadensis/0.png/0.png);padding: 0; }
div.@a59623@ian@castor-canadensis::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60101@ian@elodea-canadensis {max-width:75px; max-height:75px; }
.@a60101@ian@elodea-canadensis::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/c/canadensis/0.png/0.png);padding: 0; }
div.@a60101@ian@elodea-canadensis::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60748@ian@lontra-canadensis {max-width:75px; max-height:75px; }
.@a60748@ian@lontra-canadensis::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.35897435897436% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/c/canadensis/0.png/0.png);padding: 0; }
div.@a60748@ian@lontra-canadensis::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:11bd5f5458f177240b1eb24065e647a4:f12602150162e1d45506209ff9681330:4ddb42793a59c1b7bfff1539dfc4d068$ */
