/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1697@bon@craft-sewing-using-machine-1018 {max-width:75px; max-height:75px; }
.@a1697@bon@craft-sewing-using-machine-1018::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a1697@bon@craft-sewing-using-machine-1018::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a1698@bon@craft-sewing-using-machine-1762 {max-width:75px; max-height:75px; }
.@a1698@bon@craft-sewing-using-machine-1762::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a1698@bon@craft-sewing-using-machine-1762::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2279@bon@rules-using-computer-6058 {max-width:75px; max-height:75px; }
.@a2279@bon@rules-using-computer-6058::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a2279@bon@rules-using-computer-6058::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2624@bon@using-computer-6102 {max-width:75px; max-height:75px; }
.@a2624@bon@using-computer-6102::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a2624@bon@using-computer-6102::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2625@bon@using-e-mail-1080 {max-width:75px; max-height:75px; }
.@a2625@bon@using-e-mail-1080::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a2625@bon@using-e-mail-1080::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2626@bon@using-pethna-equipment-1081 {max-width:75px; max-height:75px; }
.@a2626@bon@using-pethna-equipment-1081::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a2626@bon@using-pethna-equipment-1081::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2627@bon@using-the-computer-1082 {max-width:75px; max-height:75px; }
.@a2627@bon@using-the-computer-1082::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a2627@bon@using-the-computer-1082::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2628@bon@using-the-internet-1083 {max-width:75px; max-height:75px; }
.@a2628@bon@using-the-internet-1083::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a2628@bon@using-the-internet-1083::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2629@bon@using-till-2033 {max-width:75px; max-height:75px; }
.@a2629@bon@using-till-2033::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/u/using/0.png/0.png);padding: 0; }
div.@a2629@bon@using-till-2033::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:ba216f789de172343021966e90e83de2:d583441ba621a95384338cea514d5d09:4ddb42793a59c1b7bfff1539dfc4d068$ */
