/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b14436@gameicons-lorc@lightning-spanner {max-width:75px; max-height:75px; }
.@b14436@gameicons-lorc@lightning-spanner::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/l/lightning_spanner/0.png/0.png);padding: 0; }
div.@b14436@gameicons-lorc@lightning-spanner::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:52666c56098eddf3b09a629f851faa73:f89b8ec28748e2066d79c06c53e89d39:4ddb42793a59c1b7bfff1539dfc4d068$ */
