/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a38893@mul@strong {max-width:75px; max-height:75px; }
.@a38893@mul@strong::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/s/strong/0.png/0.png);padding: 0; }
div.@a38893@mul@strong::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b13428@gameicons-delapouite@strong-man {max-width:75px; max-height:75px; }
.@b13428@gameicons-delapouite@strong-man::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/s/strong/0.png/0.png);padding: 0; }
div.@b13428@gameicons-delapouite@strong-man::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14898@gameicons-lorc@strong {max-width:75px; max-height:75px; }
.@b14898@gameicons-lorc@strong::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/s/strong/0.png/0.png);padding: 0; }
div.@b14898@gameicons-lorc@strong::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:35486dfbe0b39f2db0c4a117dc10a4de:d176d86f5c9fae7c01c12b7922618333:4ddb42793a59c1b7bfff1539dfc4d068$ */
