/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a10789@df-pregnancy@129 {max-width:75px; max-height:75px; }
.@a10789@df-pregnancy@129::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a10789@df-pregnancy@129::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10791@df-pregnancy@1302 {max-width:75px; max-height:75px; }
.@a10791@df-pregnancy@1302::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a10791@df-pregnancy@1302::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10792@df-pregnancy@1313 {max-width:75px; max-height:75px; }
.@a10792@df-pregnancy@1313::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a10792@df-pregnancy@1313::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10796@df-pregnancy@146 {max-width:75px; max-height:75px; }
.@a10796@df-pregnancy@146::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a10796@df-pregnancy@146::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10803@df-pregnancy@1634 {max-width:75px; max-height:75px; }
.@a10803@df-pregnancy@1634::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a10803@df-pregnancy@1634::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10872@df-pregnancy@513 {max-width:75px; max-height:75px; }
.@a10872@df-pregnancy@513::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a10872@df-pregnancy@513::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10881@df-pregnancy@696 {max-width:75px; max-height:75px; }
.@a10881@df-pregnancy@696::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a10881@df-pregnancy@696::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a10892@df-pregnancy@946 {max-width:75px; max-height:75px; }
.@a10892@df-pregnancy@946::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a10892@df-pregnancy@946::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60808@ian@manure-composting-bunker {max-width:75px; max-height:75px; }
.@a60808@ian@manure-composting-bunker::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a60808@ian@manure-composting-bunker::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60809@ian@manure-export {max-width:75px; max-height:75px; }
.@a60809@ian@manure-export::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/f/fertilization/0.png/0.png);padding: 0; }
div.@a60809@ian@manure-export::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:03b935dcfe9bfe5049df48eea10b6d7d:5348ad09aded285382c2d50d0edaa3e2:4ddb42793a59c1b7bfff1539dfc4d068$ */
