/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a1539@bon@books-on-tape-6002 {max-width:75px; max-height:75px; }
.@a1539@bon@books-on-tape-6002::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/tape/0.png/0.png);padding: 0; }
div.@a1539@bon@books-on-tape-6002::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2035@bon@library-books-on-tape-1049 {max-width:75px; max-height:75px; }
.@a2035@bon@library-books-on-tape-1049::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/tape/0.png/0.png);padding: 0; }
div.@a2035@bon@library-books-on-tape-1049::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38142@mul@masking-tape {max-width:75px; max-height:75px; }
.@a38142@mul@masking-tape::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/tape/0.png/0.png);padding: 0; }
div.@a38142@mul@masking-tape::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38953@mul@tape-measure {max-width:75px; max-height:75px; }
.@a38953@mul@tape-measure::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/tape/0.png/0.png);padding: 0; }
div.@a38953@mul@tape-measure::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38954@mul@tape-recorder {max-width:75px; max-height:75px; }
.@a38954@mul@tape-recorder::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/tape/0.png/0.png);padding: 0; }
div.@a38954@mul@tape-recorder::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39135@mul@video-tape {max-width:75px; max-height:75px; }
.@a39135@mul@video-tape::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 1.2658227848101267%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/tape/0.png/0.png);padding: 0; }
div.@a39135@mul@video-tape::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61770@ian@tape-measure {max-width:75px; max-height:75px; }
.@a61770@ian@tape-measure::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/tape/0.png/0.png);padding: 0; }
div.@a61770@ian@tape-measure::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12450@gameicons-delapouite@crime-scene-tape {max-width:75px; max-height:75px; }
.@b12450@gameicons-delapouite@crime-scene-tape::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 98.73417721518987%;background-size: 310.6666666666667% 310.6666666666667%;background-image: url(./textures/t/tape/0.png/0.png);padding: 0; }
div.@b12450@gameicons-delapouite@crime-scene-tape::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:6567d83a73a6edcf6b8633a0b791c5b8:f5f5f52bcbc75f8022b24d0b87f438f5:4ddb42793a59c1b7bfff1539dfc4d068$ */
