/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61208@ian@plains-3d-mountains-aquifer-braided-river-system {max-width:75px; max-height:75px; }
.@a61208@ian@plains-3d-mountains-aquifer-braided-river-system::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/g/grasslplains/0.png/0.png);padding: 0; }
div.@a61208@ian@plains-3d-mountains-aquifer-braided-river-system::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61209@ian@plains-3d-mountains-caves-sandstone-outcrop-aquifer {max-width:75px; max-height:75px; }
.@a61209@ian@plains-3d-mountains-caves-sandstone-outcrop-aquifer::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/g/grasslplains/0.png/0.png);padding: 0; }
div.@a61209@ian@plains-3d-mountains-caves-sandstone-outcrop-aquifer::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:6cc50ed001d94da5d712e711c2bed80a:bf3bf29dc0170fbf4706d724031fc0a6:4ddb42793a59c1b7bfff1539dfc4d068$ */
