/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@b13873@gameicons-lorc@burning-blobs {max-width:75px; max-height:75px; }
.@b13873@gameicons-lorc@burning-blobs::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/b/burning_blobs/0.png/0.png);padding: 0; }
div.@b13873@gameicons-lorc@burning-blobs::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:d705a5d4b9d89040f5dca3bf3124c236:d7e494093eda13e7580aea87e6f0e65a:4ddb42793a59c1b7bfff1539dfc4d068$ */
