/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2140@bon@office-technology-3036 {max-width:75px; max-height:75px; }
.@a2140@bon@office-technology-3036::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/t/technology/0.png/0.png);padding: 0; }
div.@a2140@bon@office-technology-3036::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38971@mul@technology {max-width:75px; max-height:75px; }
.@a38971@mul@technology::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/t/technology/0.png/0.png);padding: 0; }
div.@a38971@mul@technology::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59813@ian@computer {max-width:75px; max-height:75px; }
.@a59813@ian@computer::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/t/technology/0.png/0.png);padding: 0; }
div.@a59813@ian@computer::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59814@ian@computer2 {max-width:75px; max-height:75px; }
.@a59814@ian@computer2::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/t/technology/0.png/0.png);padding: 0; }
div.@a59814@ian@computer2::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59815@ian@computer3 {max-width:75px; max-height:75px; }
.@a59815@ian@computer3::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/t/technology/0.png/0.png);padding: 0; }
div.@a59815@ian@computer3::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a61543@ian@satellite-tracked-drifter {max-width:75px; max-height:75px; }
.@a61543@ian@satellite-tracked-drifter::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/t/technology/0.png/0.png);padding: 0; }
div.@a61543@ian@satellite-tracked-drifter::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:f66c4c6676f4717f1331c3f368576e3f:3ebd76fdec837876d7a395642156e982:4ddb42793a59c1b7bfff1539dfc4d068$ */
