/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a46385@osm@shop-repair-bicycle-14 {max-width:75px; max-height:75px; }
.@a46385@osm@shop-repair-bicycle-14::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 1.2658227848101267% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/r/rental/0.png/0.png);padding: 0; }
div.@a46385@osm@shop-repair-bicycle-14::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a46426@osm@transport-rental-bicycle-14 {max-width:75px; max-height:75px; }
.@a46426@osm@transport-rental-bicycle-14::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/r/rental/0.png/0.png);padding: 0; }
div.@a46426@osm@transport-rental-bicycle-14::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49116@ssj@rental-bicycle {max-width:75px; max-height:75px; }
.@a49116@ssj@rental-bicycle::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 98.73417721518987% 50%;background-size: 310.6666666666667% 105.33333333333333%;background-image: url(./textures/r/rental/0.png/0.png);padding: 0; }
div.@a49116@ssj@rental-bicycle::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:91f57ab1aa51134129117607ac530708:215f7d6298d78b4e5960189d68674314:4ddb42793a59c1b7bfff1539dfc4d068$ */
