/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15025@em2@high-heeled-shoe {max-width:75px; max-height:75px; }
.@a15025@em2@high-heeled-shoe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.25839793281653745% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a15025@em2@high-heeled-shoe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a17491@fir@u1f460-heels {max-width:75px; max-height:75px; }
.@a17491@fir@u1f460-heels::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 10.20671834625323% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a17491@fir@u1f460-heels::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28472@jqe@high-heeled-shoe {max-width:75px; max-height:75px; }
.@a28472@jqe@high-heeled-shoe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 20.155038759689923% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a28472@jqe@high-heeled-shoe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a28922@jqe@womans-sandal {max-width:75px; max-height:75px; }
.@a28922@jqe@womans-sandal::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 30.103359173126616% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a28922@jqe@womans-sandal::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38729@mul@shoe-ladies {max-width:75px; max-height:75px; }
.@a38729@mul@shoe-ladies::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 40.05167958656331% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a38729@mul@shoe-ladies::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39722@noc@high-heeled-shoe {max-width:75px; max-height:75px; }
.@a39722@noc@high-heeled-shoe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a39722@noc@high-heeled-shoe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a42073@nog@high-heeled-shoe-smileys-people {max-width:75px; max-height:75px; }
.@a42073@nog@high-heeled-shoe-smileys-people::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 59.94832041343669% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a42073@nog@high-heeled-shoe-smileys-people::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a49487@str@430-high-heeled-shoe {max-width:75px; max-height:75px; }
.@a49487@str@430-high-heeled-shoe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 69.89664082687338% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a49487@str@430-high-heeled-shoe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a50525@tw2@high-heeled-shoe {max-width:75px; max-height:75px; }
.@a50525@tw2@high-heeled-shoe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 79.84496124031008% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a50525@tw2@high-heeled-shoe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51334@twe@high-heeled-shoe {max-width:75px; max-height:75px; }
.@a51334@twe@high-heeled-shoe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 89.79328165374677% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@a51334@twe@high-heeled-shoe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12764@gameicons-delapouite@high-heel {max-width:75px; max-height:75px; }
.@b12764@gameicons-delapouite@high-heel::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.74160206718346% 50%;background-size: 1132% 105.33333333333333%;background-image: url(./textures/h/high_heel/0.png/0.png);padding: 0; }
div.@b12764@gameicons-delapouite@high-heel::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:0bac5063e3718dba518e7de05714b2c3:5d7183b23f55c27fa9f8695956f0868e:4ddb42793a59c1b7bfff1539dfc4d068$ */
