/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a61606@ian@sediment-grab {max-width:75px; max-height:75px; }
.@a61606@ian@sediment-grab::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/g/grab/0.png/0.png);padding: 0; }
div.@a61606@ian@sediment-grab::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b14273@gameicons-lorc@grab {max-width:75px; max-height:75px; }
.@b14273@gameicons-lorc@grab::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 105.33333333333333%;background-image: url(./textures/g/grab/0.png/0.png);padding: 0; }
div.@b14273@gameicons-lorc@grab::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:7775df33bf0616ee5f985f2c5f101145:6f3494132e0168f1f36a777a0aa60a33:4ddb42793a59c1b7bfff1539dfc4d068$ */
