/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a42727@nog@mount-fuji_travel-places_x8fgn {max-width:75px; max-height:75px; }
.@a42727@nog@mount-fuji_travel-places_x8fgn::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.851063829787234% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/o/overlay/0.png/0.png);padding: 0; }
div.@a42727@nog@mount-fuji_travel-places_x8fgn::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a42739@nog@mountain_travel-places_su3ok {max-width:75px; max-height:75px; }
.@a42739@nog@mountain_travel-places_su3ok::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/o/overlay/0.png/0.png);padding: 0; }
div.@a42739@nog@mountain_travel-places_su3ok::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a43509@nog@snow_capped_mountain_travel-places_i2hmh {max-width:75px; max-height:75px; }
.@a43509@nog@snow_capped_mountain_travel-places_i2hmh::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.61702127659574% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/o/overlay/0.png/0.png);padding: 0; }
div.@a43509@nog@snow_capped_mountain_travel-places_i2hmh::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a43510@nog@snow_capped_mountain_travel-places_mrn7r {max-width:75px; max-height:75px; }
.@a43510@nog@snow_capped_mountain_travel-places_mrn7r::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.38297872340425% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/o/overlay/0.png/0.png);padding: 0; }
div.@a43510@nog@snow_capped_mountain_travel-places_mrn7r::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a45224@ope@african_women_vessels_viscious_speed_167x8_0wkoe {max-width:75px; max-height:75px; }
.@a45224@ope@african_women_vessels_viscious_speed_167x8_0wkoe::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.14893617021276% 50%;background-size: 413.3333333333333% 105.33333333333333%;background-image: url(./textures/o/overlay/0.png/0.png);padding: 0; }
div.@a45224@ope@african_women_vessels_viscious_speed_167x8_0wkoe::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:35e09f8f20787c7166714fd9243ffbff:bf11267a6d21248ca2cc88fbcf6e593a:4ddb42793a59c1b7bfff1539dfc4d068$ */
