/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a2245@bon@rating-wrong-6044 {max-width:75px; max-height:75px; }
.@a2245@bon@rating-wrong-6044::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.6410256410256411% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wrong/0.png/0.png);padding: 0; }
div.@a2245@bon@rating-wrong-6044::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a2542@bon@things-going-wrong-5290 {max-width:75px; max-height:75px; }
.@a2542@bon@things-going-wrong-5290::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 25.32051282051282% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wrong/0.png/0.png);padding: 0; }
div.@a2542@bon@things-going-wrong-5290::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a38188@mul@mistake-no-wrong {max-width:75px; max-height:75px; }
.@a38188@mul@mistake-no-wrong::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wrong/0.png/0.png);padding: 0; }
div.@a38188@mul@mistake-no-wrong::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39250@mul@wrong-thought {max-width:75px; max-height:75px; }
.@a39250@mul@wrong-thought::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 74.67948717948718% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wrong/0.png/0.png);padding: 0; }
div.@a39250@mul@wrong-thought::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a48885@solver@5-wrong!-guy {max-width:75px; max-height:75px; }
.@a48885@solver@5-wrong!-guy::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.35897435897436% 50%;background-size: 516% 105.33333333333333%;background-image: url(./textures/w/wrong/0.png/0.png);padding: 0; }
div.@a48885@solver@5-wrong!-guy::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:d3d0ac9f16186a35bf20c4fc91878404:7c25849e80ee7bf39f4246bd5bb370d3:4ddb42793a59c1b7bfff1539dfc4d068$ */
