/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a26212@her@columbine {max-width:75px; max-height:75px; }
.@a26212@her@columbine::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/c/columbine/0.png/0.png);padding: 0; }
div.@a26212@her@columbine::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:68a618c6db537e022cc0c86a01ed5f35:bf9e15abb624c234d574f4a2f7605ea1:4ddb42793a59c1b7bfff1539dfc4d068$ */
