/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a60702@ian@light-logger {max-width:75px; max-height:75px; }
.@a60702@ian@light-logger::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 50% 50%;background-size: 105.33333333333333% 105.33333333333333%;background-image: url(./textures/s/sstake/0.png/0.png);padding: 0; }
div.@a60702@ian@light-logger::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:66c59d373d26ad256ca8408d3dff0078:65023b5394a35d1f05b50a933fb73cdd:4ddb42793a59c1b7bfff1539dfc4d068$ */
