/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a59395@ian@asterionellopsis-glacialis {max-width:75px; max-height:75px; }
.@a59395@ian@asterionellopsis-glacialis::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/o/ochrophyta/0.png/0.png);padding: 0; }
div.@a59395@ian@asterionellopsis-glacialis::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59681@ian@chattonella-spp {max-width:75px; max-height:75px; }
.@a59681@ian@chattonella-spp::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/o/ochrophyta/0.png/0.png);padding: 0; }
div.@a59681@ian@chattonella-spp::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59929@ian@cyclotella-single {max-width:75px; max-height:75px; }
.@a59929@ian@cyclotella-single::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 2.4691358024691357% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/o/ochrophyta/0.png/0.png);padding: 0; }
div.@a59929@ian@cyclotella-single::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a59930@ian@cyclotella {max-width:75px; max-height:75px; }
.@a59930@ian@cyclotella::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 1.2658227848101267%;background-size: 208% 310.6666666666667%;background-image: url(./textures/o/ochrophyta/0.png/0.png);padding: 0; }
div.@a59930@ian@cyclotella::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60018@ian@diatoms {max-width:75px; max-height:75px; }
.@a60018@ian@diatoms::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 50%;background-size: 208% 310.6666666666667%;background-image: url(./textures/o/ochrophyta/0.png/0.png);padding: 0; }
div.@a60018@ian@diatoms::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a60239@ian@fibrocapsa-japonica {max-width:75px; max-height:75px; }
.@a60239@ian@fibrocapsa-japonica::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 97.53086419753086% 98.73417721518987%;background-size: 208% 310.6666666666667%;background-image: url(./textures/o/ochrophyta/0.png/0.png);padding: 0; }
div.@a60239@ian@fibrocapsa-japonica::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:dd1d880ddfdeaa4e5f7c373e99e36d29:ac54bf59bb3ef5ccb580225b319ae3df:4ddb42793a59c1b7bfff1539dfc4d068$ */
