/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.@a15107@em2@leo {max-width:75px; max-height:75px; }
.@a15107@em2@leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 0.28694404591104733% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a15107@em2@leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a16428@emo@leo {max-width:75px; max-height:75px; }
.@a16428@emo@leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 11.33428981348637% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a16428@emo@leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a18062@fir@u264c-leo {max-width:75px; max-height:75px; }
.@a18062@fir@u264c-leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 22.381635581061694% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a18062@fir@u264c-leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a30807@lin@leo {max-width:75px; max-height:75px; }
.@a30807@lin@leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 33.428981348637016% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a30807@lin@leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a39801@noc@leo {max-width:75px; max-height:75px; }
.@a39801@noc@leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 44.47632711621234% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a39801@noc@leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a42431@nog@leo-symbols {max-width:75px; max-height:75px; }
.@a42431@nog@leo-symbols::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 55.52367288378766% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a42431@nog@leo-symbols::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a44483@not@leo {max-width:75px; max-height:75px; }
.@a44483@not@leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 66.57101865136299% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a44483@not@leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a51398@twe@leo {max-width:75px; max-height:75px; }
.@a51398@twe@leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 77.61836441893831% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a51398@twe@leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@a56221@web@zodiac-leo {max-width:75px; max-height:75px; }
.@a56221@web@zodiac-leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 88.66571018651364% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@a56221@web@zodiac-leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}
.@b12880@gameicons-delapouite@leo {max-width:75px; max-height:75px; }
.@b12880@gameicons-delapouite@leo::after {content: '\00a0';display: inline-block; width:75px; height:75px; background-position: 99.71305595408896% 50%;background-size: 1029.3333333333333% 105.33333333333333%;background-image: url(./textures/l/leo/0.png/0.png);padding: 0; }
div.@b12880@gameicons-delapouite@leo::after {max-width:75px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:0b5ae99d760ed15983e5300f565638c5:8cfb37ee98b2a66dd78b336bf405bcbe:4ddb42793a59c1b7bfff1539dfc4d068$ */
